
{% put styles %}
<style>
article.post.sticky {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #FFFFFF;
    border-color: #e5e5e5;
    color: #323232;
    border-bottom: none !important;
}
article.post .post_figure_and_info .post_sub .post_info {
    display: inline-block;
    padding: 0px 21px;
    color: #fff;
}
</style>
{% endput %}
{% set post = __SELF__.post %}

<article class="post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-exercise tag-fitness tag-health tag-tips" style="padding: 55px;">
    <h1 class="post_title">{{ post.title }}</h1>
    
    {% if post.featured_images.count %}
        {% for image in post.featured_images %}
            <div class="post_figure_and_info">
                <figure class="stretchy_wrapper ratio_2-1" style="background-image: url('{{ image.path }}')"><img src="{{ image.path }}" alt="{{ image.description }}"></figure>
                <div class="post_sub">
                    <span class="post_info post_date">
                        <i class="fa fa-calendar"></i>  {{ post.published_at|date('M d y') }}
                    </span>
                    {% if post.categories.count %} 
                        {% for category in post.categories %}
                            <a href="{{ category.url }}" title="{{ category.name }}">
                                <span class="post_info post_author">{{ category.name }}</span>
                            </a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="content">{{ post.content_html|raw }}</div>
 </article>
