{% set spesialis = buatfaq.spesialis %}
{% set showtopic = buatfaq.showtopic %}

{% if showtopic == "success" %}
<div class="plethora_button wpb_content_element text-left btn_block buatfaq" >
        {% flash success %}
            <div class="alert alert-info fade in">
                <div class="text-center">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>INFO</strong> 
                    <br>{{ message }}
                </div>
           
            </div>
        {% endflash %}
</div>
{% endif %}

{% if showtopic == "true" %}
<div class="plethora_button wpb_content_element text-left btn_block buatfaq" >
    <form action="{{ url('tanya-dokter') }}" method="POST" accept-charset="UTF8" novalidate="novalidate">
        <input type="hidden" name="_handler" value="onSave">
        {{ form_token() }}
        {{ form_sessionKey() }}

        <p>
            <span class="wpcf7-form-control-wrap menu-919">
                <select  name="input_category_id" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required js-example-basic-single" aria-required="true" aria-invalid="false">
                    <option value="">-- Pilih Kategori Pertanyaan -- </option>
                    {% for key, spesial in spesialis %} 
                            
                        {% if spesialisSelected == key %}
                                <option value="{{key}}" selected="selected">{{spesial}}</option>
                            {% else %}
                                <option value="{{key}}">{{spesial}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </span>
        </p>
        <p>
            <span class="wpcf7-form-control-wrap input_name_pasien">
                <input type="text" name="input_name_pasien" value="" size="40" placeholder="Nama Lengkap" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"  />
            </span>
        </p>
        <p>
            <span class="wpcf7-form-control-wrap input_email_pasien">
                <input type="email" name="input_email_pasien" value="" size="40" placeholder="Email" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"  />
            </span>
        </p>
        <p>
            <span class="wpcf7-form-control-wrap input_no_handphone_pasien">
                <input type="text" name="input_no_handphone_pasien" value="" size="40" placeholder="No Handphone" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"  />
            </span>
        </p>
        <p>
            <span class="wpcf7-form-control-wrap input_question_title">
                <input type="text" name="input_question_title" value="" size="40" placeholder="Judul Topik. Contoh: Dari umur berapa bayi boleh diberi makanan padat?" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"  />
            </span>
        </p>
        <p>
            <span class="wpcf7-form-control-wrap input_">
                <textarea name="input_question" cols="40" rows="4" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false" placeholder="Message"></textarea>
            </span>
        </p>
        <p> <button type="button" class="btn-buat-faq">Batal</button> <button type="submit">Kirim</button></p>
        <div class="wpcf7-response-output wpcf7-display-none"></div>
    </form> 
</div>
{% endif %}
