{% set services = layananhome.services %}

{% for key, service in services %}
    {% if key < 3 %}
        <div class="wpb_column vc_column_container col-sm-4">
            <div class="wpb_wrapper">
            <!-- ========================== TEASER BOX ==========================-->
            <div class="teaser_box wpb_content_element text-center  light_section    with_button   ">
                <div class="figure transparent">
                    <a href="layanan#{{ service.slug }}" title="" target="">
                        <div class="figure transparent stretchy_wrapper ratio_4-3" style="background-image:url('{{ service.layanan_image.path}}')"></div>
                    </a>
                </div>
                <div class="content text-center boxed_special  with_button ">
                    <div class="hgroup">
                        <h4 class="neutralize_links">
                            {{ service.title_layanan }}
                        </h4>
                    </div>
                    <div class="link centered">
                        <a href="layanan#{{ service.slug }}"  target="" class="btn btn-xs btn-primary"><strong>Detail</strong></a>
                    </div>
                </div>
            </div>
            <!-- END======================= TEASER BOX ==========================-->
            </div>
        </div>
    {% endif %}
{% else %}

{% endfor %}