
{% put styles %}
<style>
article.post.sticky {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #FFFFFF;
    border-color: #e5e5e5;
    color: #323232;
    border-bottom: none !important;
}
article.post .post_figure_and_info .post_sub .post_info {
    display: inline-block;
    padding: 0px 21px;
    color: #fff;
}
</style>
{% endput %}

{% set posts = __SELF__.posts %}
    {% if categoryVar == "true" %}
        {% for post in posts %}
            <div class="col-md-12">
                <article id="post-1557" class="post post-1557 type-post status-publish format-standard has-post-thumbnail sticky hentry category-news tag-exercise tag-fitness tag-health tag-tips">
                    <div class="post_headings">
                    <h3 class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    </div>
                    <div class="post_figure_and_info">
                    <div class="post_sub">
                        <span class="post_info post_date">
                            <i class="fa fa-calendar"></i> 
                            {{ post.published_at|date('M d y') }}
                        </span>
                        {% if post.categories.count %} 
                            {% for category in post.categories %}
                                <a href="{{ category.url }}" title="{{ category.name }}">
                                    <span class="post_info post_author">{{ category.name }}</span>
                                </a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a href="{{ post.url }}" title="Daily Exercise is essential">
                        {% if post.featured_images.count %}
                            {% for image in post.featured_images %}
                                <figure class="stretchy_wrapper ratio_2-1" style="background-image: url('{{ image.path }}')">
                                    <img src="{{ image.path }}" alt="Daily Exercise is essential">
                                </figure>
                            {% endfor %}
                        {% endif %}
                    </a>
                    </div>
                    <p>{{ str_words(post.content_html|raw , 80) }}</p>
                    <p><a href="{{ post.url }}" class="btn btn-primary">Lanjut baca</a></p>
                </article>
            </div>
        {% endfor %}
    {% else %}
        <ul class="media-list">
            {% for post in posts %}
                <li class="media">
                    {% if post.featured_images.count %}
                            {% for image in post.featured_images %}
                                <a href="{{ post.url }}" class="media-photo" style="background-image:url(' {{ image.path }}')"></a> 
                            {% endfor %}
                    {% endif %}
                    <h5 class="media-heading">
                        <a href="{{ post.url }}">{{ post.title }} </a>
                        <small>{{ post.published_at|date('M d') }}</small> 
                        
                    </h5>
                    <p>{{ post.summary|raw }}</p>
                </li>
            {% else %}
                <li class="no-data">{{ noPostsMessage }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% if paging == "true" %}
{% if posts.lastPage > 1 %}
<div class="col-md-12">
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endif %}