{% set faqs = listfaqhome.faqs %}

<ul class="media-list">
{% for key, faq in faqs %}
    {% if key < 3 %}
        <li class="media">
            <a href="{{ faq.url }}" class="media-photo" style="border-radius: 50%; background-image:url('{{ faq.faq_doctor_image.path }}')"></a> 
            <h5 class="media-heading" style="padding: 10px 0px 0px 0px;">
                <a href="{{ faq.url }}">{{ faq.question_title }} </a>
            </h5>
            <p>{{html_limit(faq.answer|raw, 200)}}</p>
        </li>
    {% endif %}
{% else %}
    <li class="no-data">{{ noPostsMessage }}</li>
{% endfor %}
</ul>