[viewBag]
title = "Rekanan"
url = "/rekanan"
layout = "informasi_layout"
is_hidden = 0
navigation_hidden = 0
==
<div class="box" id="text-page">
	<div class="content-text">

		<h2>Rekanan</h2>
		<hr>

		<p align="justify">RS IMC Bintaro telah bekerjasama dengan beberapa asuransi dan perusahaan untuk info lanjut dapat menghubungi kami di 021.7456379 ext. 305 ( Marketing Up. Ibu Dewi )</p>
	</div>
	<br>Kami Menerima Layanan Asuransi / Perusahaan
	<br>
	<br>
	<div class="row">
		<div class="col-xs-6 col-md-3"><a href="http://www.allianz.co.id/" target="_blank" title="Allianz">&nbsp;<img src="img-rekanan/63alianz.png" title="Allianz" alt="Allianz" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.abdainsurance.co.id/" target="_blank" title="Abda">&nbsp;<img src="img-rekanan/12abda.png" title="Abda" alt="Abda" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.admedika.co.id/index.php/en/" target="_blank" title="Admedika">&nbsp;<img src="img-rekanan/3admedika.png" title="Admedika" alt="Admedika" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.aia-financial.co.id/id/" target="_blank" title="AIA">&nbsp;<img src="img-rekanan/36aia.png" title="AIA" alt="AIA" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Asuransi Mag">&nbsp;<img src="img-rekanan/97asuransi%20mag.png" title="Asuransi Mag" alt="Asuransi Mag" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.avrist.com/" target="_blank" title="Avrist">&nbsp;<img src="img-rekanan/33avrist.png" title="Avrist" alt="Avrist" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Blue Dot">&nbsp;<img src="img-rekanan/45bludot.png" title="Blue Dot" alt="Blue Dot" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.bni-life.co.id/id" target="_blank" title="BNI">&nbsp;<img src="img-rekanan/69bni.png" title="BNI" alt="BNI" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://bpjs-kesehatan.go.id/bpjs/" target="_blank" title="BPJS Kesehatan">&nbsp;<img src="img-rekanan/45bpjs.png" title="BPJS Kesehatan" alt="BPJS Kesehatan" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.bringinlife.co.id/" target="_blank" title="Bringin Life Syariah">&nbsp;<img src="img-rekanan/19bringin.png" title="Bringin Life Syariah" alt="Bringin Life Syariah" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Carrefour">&nbsp;<img src="img-rekanan/32carefour.png" title="Carrefour" alt="Carrefour" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Cigna">&nbsp;<img src="img-rekanan/5cigna.png" title="Cigna" alt="Cigna" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Commonwealth Life">&nbsp;<img src="img-rekanan/26commonwealt.png" title="Commonwealth Life" alt="Commonwealth Life" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Yayasan Filadelfia">&nbsp;<img src="img-rekanan/55filadelfia.png" title="Yayasan Filadelfia" alt="Yayasan Filadelfia" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Generali Indonesia">&nbsp;<img src="img-rekanan/80general.png" title="Generali Indonesia" alt="Generali Indonesia" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Global Assistance &amp; Healthcare">&nbsp;<img src="img-rekanan/41global.png" title="Global Assistance &amp; Healthcare" alt="Global Assistance &amp; Healthcare" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://jasindo.co.id/" target="_blank" title="Jasindo">&nbsp;<img src="img-rekanan/72jasindo.png" title="Jasindo" alt="Jasindo" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Jaya Proteksi">&nbsp;<img src="img-rekanan/19jaya%20proteksi.png" title="Jaya Proteksi" alt="Jaya Proteksi" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Kopnatel Jaya">&nbsp;<img src="img-rekanan/74kopnatel.png" title="Kopnatel Jaya" alt="Kopnatel Jaya" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.manulife-indonesia.com/" target="_blank" title="Manulife">&nbsp;<img src="img-rekanan/8manulife.png" title="Manulife" alt="Manulife" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="Medipro Health">&nbsp;<img src="img-rekanan/15medipro.png" title="Medipro Health" alt="Medipro Health" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.megainsurance.co.id/" target="_blank" title="Mega Life">&nbsp;<img src="img-rekanan/19mega.png" title="Mega Life" alt="Mega Life" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.car.co.id/" target="_blank" title="CAR Life Insurance">&nbsp;<img src="img-rekanan/59ocar.png" title="CAR Life Insurance" alt="CAR Life Insurance" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="" target="_blank" title="RSPB">&nbsp;<img src="img-rekanan/16pertamina.png" title="RSPB" alt="RSPB" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.prudential.co.id/corp/prudential_in_id" target="_blank" title="Prudential">&nbsp;<img src="img-rekanan/94prudential.png" title="Prudential" alt="Prudential" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://online.sequis.co.id/en" target="_blank" title="Sequislife">&nbsp;<img src="img-rekanan/10sequist.png" title="Sequislife" alt="Sequislife" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.sinarmas.co.id/" target="_blank" title="Sinarmas">&nbsp;<img src="img-rekanan/96sinarmas.png" title="Sinarmas" alt="Sinarmas" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.internationalsos.com/locations/asia-pa" target="_blank" title="SOS International">&nbsp;<img src="img-rekanan/31sos.png" title="SOS International" alt="SOS International" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.takaful.co.id/" target="_blank" title="Takaful">&nbsp;<img src="img-rekanan/8takaful.png" title="Takaful" alt="Takaful" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.wanaarthalife.com/" target="_blank" title="Wana Artha Life">&nbsp;<img src="img-rekanan/41wanaarta.png" title="Wana Artha Life" alt="Wana Artha Life" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.lippoinsurance.com/" target="_blank" title="lippo insurance">&nbsp;<img src="img-rekanan/45Logo-LippoInsurance.png" title="lippo insurance" alt="lippo insurance" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://asuransiadira.com/" target="_blank" title="Adira Dinamika">&nbsp;<img src="img-rekanan/54921448287435.jpg" title="Adira Dinamika" alt="Adira Dinamika" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.hanwhalife.co.id/" target="_blank" title="Hanwa Life">&nbsp;<img src="img-rekanan/35HANWHA%20LIFE%201.jpg" title="Hanwa Life" alt="Hanwa Life" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.equity.co.id/" target="_blank" title="Equity Life Indonesia">&nbsp;<img src="img-rekanan/34logo-equity-life.jpg" title="Equity Life Indonesia" alt="Equity Life Indonesia" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://www.aca.co.id/Home" target="_blank" title="ACA">&nbsp;<img src="img-rekanan/73logo_aca.png" title="ACA" alt="ACA" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.smilynks.co.id" target="_blank" title="Abadi Smilynk">&nbsp;<img src="img-rekanan/56smylinks20160512143816.jpg" title="Abadi Smilynk" alt="Abadi Smilynk" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.fwd.co.id/id/" target="_blank" title="FWD Life">&nbsp;<img src="img-rekanan/98FWD.jpg" title="FWD Life" alt="FWD Life" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="http://nayakaerahusada.com/produk/nayaka/tpa-aso" target="_blank" title="Nayaka Era Husada">&nbsp;<img src="img-rekanan/64nayaka.png" title="Nayaka Era Husada" alt="Nayaka Era Husada" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://www.allianz.co.id/" target="_blank" title="Allianz">&nbsp;<img src="img-rekanan/36allianz-logo.png" title="Allianz" alt="Allianz" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
		<div class="col-xs-6 col-md-3"><a href="https://axa.co.id/" target="_blank" title="AXA Service Indonesia">&nbsp;<img src="img-rekanan/319861907_20170818013121.jpg" title="AXA Service Indonesia" alt="AXA Service Indonesia" class="img-thumbnail fr-fic fr-dii">&nbsp;</a>
			<br>
			<br>
		</div>
	</div>
</div>