[viewBag]
title = "Tentang kami"
url = "/tentang-kami"
layout = "informasi_layout"
is_hidden = 0
navigation_hidden = 0
==
<p>RS ICHSAN MEDICAL CENTRE Bintaro atau yang biasa disingkat RS IMC Bintaro berdiri pada tanggal 25 Juli 2003 melalui YAYASAN ICHSAN (ICHSAN FOUNDATION).</p>

<p>
	<br>
</p>

<p><span>Hal ini didasari keinginan saling berbagai dengan sesama dan bentuk kepedulian terhadap lingkungan disekitar Bintaro terhadap kesehatan Ibu dan Anak tanpa memandang status sosial dan SARA. Sehingga pada tanggal 25 Juli 2003 berdirilah cikal bakal ICHSAN MEDICAL CENTRE dengan diawali Klinik IMC, lalu pada tahun 2004 seiring perkembangan dilingkungan sekitar Jombang-Bintaro pelayanan klinik ditingkatkan menjadi Rumah Bersalin. Seiring waktu pada Tahun 2006 pelayanan Rumah Bersalin ditingkatkan statusnya menjadi Rumah Sakit Ibu &amp; Anak, karena kebutuhan akan pelayanan kesehatan Ibu &amp; Anak. Pada tahun 2009 pelayanan dan status Rumah Sakit kembali ditingkatkan menjadi Rumah Sakit Umum IMC Bintaro yang pada saat itu pula dapat melayani semua jenis umur, kelamin dan status sosial. Dengan konsep dan suasana yang hommy RS IMC Bintaro selalu mengedepankan pelayanan terlebih dahulu, sesuai dengan motto kami "MELAYANI DENGAN KASIH".</span></p>

<p>
	<br>
</p>

<p>Untuk meningkatkan profesionalitas dalam hal pelayanan RS IMC Bintaro sudah mendapatkan Akreditasi dari KEMENTERIAN KESEHATAN REPUBLIK INDONESIA untuk 5 pelayanan dasar. Dengan izin operasional tetap no. 445/kep.83-HUK/2012.</p>