[viewBag]
title = "Visi & Misi"
url = "/visi-misi"
layout = "informasi_layout"
is_hidden = 0
navigation_hidden = 0
==
<p>
	<br>
</p>

<p><strong>VISI</strong></p>

<p>MENJADI PENYEDIA LAYANAN KESEHATAN TERBAIK BAGI MASYARAKAT BERLANDASKAN KELEMBUTAN, CINTA DAN KASIH SAYANG.</p>

<p>
	<br>
</p>

<p><strong>MISI</strong></p>

<ul>
	<li>

		<ul>
			<li>MEMBERIKAN PELAYANAN KESEHATAN YANG PRIMA DAN BERKUALITAS</li>
			<li>MENJADIKAN RS IMC SEBAGAI CENTER OF HEALTH BAGI MASYARAKAT SEKITAR DAN MENJADI PELOPOR PROFESIONALISME BIDANG KESEHATAN</li>
			<li>MEMAKSIMALKAN VALUE STAKEHOLDER</li>
		</ul>
	</li>
</ul>

<p>
	<br>
</p>

<p><strong>MOTTO</strong></p>

<p><span>MELAYANI DENGAN KASIH</span></p>