{% if parentNode and parentNode.getChildCount %}
<ul id="menu-primary-menu" class="main_menu hover_menu">
    {% for primaryNav in parentNode.getChildren %}
        {% if primaryNav.enabled %}
            {% if primaryNav.getChildCount and numberOfLevels > 1 %}
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children lihasdropdown">
                    <a href="{{ primaryNav.getLinkHref }}" title="{{ primaryNav.title }}">
                        {{ primaryNav.title }} 
                    </a>
            {% else %}
                <li class="{{ listItemClasses }} {{ primaryNav.getListItemClasses(activeLeft, activeRight) }}">
                    <a href="{{ primaryNav.getLinkHref }}" target="{{ primaryNav.getLinkTarget }}">
                        {{ primaryNav.title }}
                    </a>
            {% endif %}
            {% if primaryNav.getChildCount and numberOfLevels > 1 %}
                <ul role="menu" class=" menu-dropdown">
                    {% for secondaryNav in primaryNav.getChildren %}
                        {% if secondaryNav.enabled %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="{{ secondaryNav.getLinkHref }}" title="{{ secondaryNav.title }}">
                                    {{ secondaryNav.title }}
                                </a>
                                {% if secondaryNav.getChildCount and numberOfLevels > 2 %}
                                    <ul class="{{ tertiaryClasses }}">
                                        {% for tertiaryNav in secondaryNav.getChildren %}
                                            {% if tertiaryNav.enabled %}
                                                <li class="{{ listItemClasses }} {{ tertiaryNav.getListItemClasses(activeLeft, activeRight) }}">
                                                    <a href="{{ tertiaryNav.getLinkHref }}" target="{{ tertiaryNav.getLinkTarget }}">
                                                        {{ tertiaryNav.title }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
                </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
