{{ __SELF__.settings.text_top_form|raw}}

<form id="simpleContactForm" data-request="{{ __SELF__ }}::onFormSubmit">

    <div id="simple_contact_flash_message"></div>


    <div class="form-group">
        <label for="name">{{__SELF__.properties.nameLabel}}</label>
        <input type="text" id="name" name="name" class="form-control" required >
    </div>

    <div class="form-group">
        <label for="email">{{__SELF__.properties.emailLabel}}</label>
        <input type="email" id="email" name="email" class="form-control" required >
    </div>

    {% if(__SELF__.properties.phoneEnabled) %}
        <div class="form-group">
            <label for="phone">{{__SELF__.properties.phoneLabel}}</label>
            <input type="text" id="phone" name="phone" class="form-control" required>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="subject">{{__SELF__.properties.subjectLabel}}</label>
        <input type="text" id="subject" name="subject" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="message">{{__SELF__.properties.messageLabel}}</label>
        <textarea id="message" name="message" class="form-control" cols="40" rows="10" required></textarea>
    </div>

    <!-- Injecting reCaptcha if enabled -->
    {% if(__SELF__.settings.recaptcha_enabled) %}
        <div class="form-group">
            <label for="message"></label>
            <div class="g-recaptcha" data-sitekey="{{__SELF__.settings.recaptcha_site_key}}"></div>
        </div>
    {% endif %}
    <!-- End reCaptcha -->

    <button id="simpleContactSubmitButton"
            type="submit" class="btn btn-default">
        {{__SELF__.properties.buttonText}}
    </button>

</form>