title = "jadwal dokter"
url = "/jadwal-dokter"
layout = "dokter_layout"
description = "Jadwal dokter backup"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[filterdoctor]
pageNumber = "{{ :page }}"
postsPerPage = 10

[builderList]
modelClass = "Ardyanto\Dokter\Models\DoctorStaff"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "doctor_name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="main secondary_section doctor_detail_imc" data-colorset="secondary_section">
   <section class="vc_off sidebar_off full_height vertical_center" >
      <div class="container doctor_detail_content">
         <div class="row">
            <div>
               <div class="profile_single_photo col-md-3">
                    <div class="wpb_wrapper">
                      <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
                        <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
                        <h4> <i class="fa fa-search"></i> Input Pencarian</h4>
                        <span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                      </div>
                      <div role="form" class="wpcf7" id="wpcf7-f281-p611-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        {% component 'filterdoctor' %}
                      </div>
                  </div>
                </div>
               <div class="col-md-9">
                  <div class="wpb_wrapper">
                      <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
                        <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
                        <h4> <i class="fa fa-list"></i> List Dokter</h4>
                        <span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                      </div>
                      <!-- LIST DOCTOR -->
                      <aside id="woocommerce_top_rated_products-1" class="widget woocommerce widget_top_rated_products">
                          <!-- <h4>Top Rated Products</h4> -->
                          {% set records = dokterList.records %}
                          {% set displayColumn = dokterList.displayColumn %}
                          {% set noRecordsMessage = dokterList.noRecordsMessage %}
                          {% set detailsPage = dokterList.detailsPage %}
                          {% set detailsKeyColumn = dokterList.detailsKeyColumn %}
                          {% set detailsUrlParameter = dokterList.detailsUrlParameter %}

                          <ul class="product_list_widget">
                              {% for record in records %}
                                  <li>
                                      <a href="../product/woo-album-4/index.html">
                               
                                      </a>
                                      {# Use spaceless tag to remove spaces inside the A tag. #}
                                      {% spaceless %}
                                      <img width="303" height="326" src="{{ record.doctor_image.path }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="{{ record.doctor_image.path }} 404w, {{ record.doctor_image.path }} 279w" sizes="(max-width: 303px) 100vw, 303px"></img>
                                      <span class="product-title">{{ record.doctor_name }}</span>
                                      <p><i class="fa fa-stethoscope">&nbsp;</i><span class="woocommerce-Price-amount amount">{{ record.DoctorSpesialis.spesialis_name }}</span></p>
                                      <p><i class="fa fa-hospital-o"></i> Jadwal Praktek RS IMC</p>
                                      <div class="table" id="results">
                                          <div class='theader'>
                                            <div class='table_header'>Hari</div>
                                            <div class='table_header'>Jam Praktek</div>
                                            <div class='table_header'></div>
                                          </div>
                                          {% if record.DoctorSchedule %}
                                            {% for doctorschedule in record.DoctorSchedule %}
                                              <div class='table_row'>
                                                <div class='table_small'>
                                                  <div class='table_cell'>Hari</div>
                                                  <div class='table_cell'>{{ doctorschedule.day }}</div>
                                                </div>
                                                <div class='table_small'>
                                                  <div class='table_cell'>Jam Praktek</div>
                                                  <div class='table_cell'>{{ doctorschedule.time |raw}}</div>
                                                </div>
                                                <div class='table_small'>
                                                  <div class='table_cell'></div>
                                                  <div class='table_cell'><a href="/buat-janji" class="dBook"><i class="fa fa-calendar-o"></i> Buat Janji</a></div>
                                                </div>
                                              </div>
                                            {% else %}
                    
                                            {% endfor %}
                                          {% endif %}
                                        </div>
                                      {% endspaceless %}
                                  </li>
                              {% else %}
                                  <li class="no-data">{{ noRecordsMessage }}</li>
                              {% endfor %}
                          </ul>
                          
                          {% if records.lastPage > 1 %}
                              <ul class="pagination">
                                  {% if records.currentPage > 1 %}
                                      <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
                                  {% endif %}
                          
                                  {% for page in 1..records.lastPage %}
                                      <li class="{{ records.currentPage == page ? 'active' : null }}">
                                          <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                                      </li>
                                  {% endfor %}
                          
                                  {% if records.lastPage > records.currentPage %}
                                      <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
                                  {% endif %}
                              </ul>
                          {% endif %}
                         
                      </aside>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>