
{% put styles %}
<style>
nav.side-menu {
  background: #fff;
  width: 100%;
}
nav.side-menu header {
  background: #16a085;
  padding: 20px;
}
nav.side-menu header h1 {
  font-size: 16px;
  margin: 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
nav.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: none;
}
nav.side-menu ul li {
  display: block;
  background: #1abc9c;
}
nav.side-menu ul li.active {
  background: #fff;
}
nav.side-menu ul li.active a {
  color: #1abc9c;
  border-left: 2px solid #1abc9c;
}
nav.side-menu ul li.active ul {
  display: block;
}
nav.side-menu ul li:last-child {
  border-bottom: none;
}
nav.side-menu ul li ul {
  display: none;
}
nav.side-menu ul li ul li a {
  background: #fff;
  padding-left: 40px;
  color: #1abc9c;
}
nav.side-menu ul li ul li a:hover {
  padding-left: 45px;
}
nav.side-menu ul li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s linear;
  border-left: 2px solid transparent;
}
nav.side-menu ul li a:hover {
  background: #fff;
  padding-left: 20px;
  border-left: 2px solid #1abc9c;
  color: #1abc9c;
}
nav.side-menu .info {
  background: #fff;
  border-left: 2px solid #1abc9c;
  padding: 20px;
  color: #666;
  font-size: 14px;
}
nav.side-menu footer {
  background: #16a085;
  padding: 15px 20px;
  color: #fff;
}
nav.side-menu footer p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.right {
  float: right;
}
.left {
  float: left;
}

</style>
{% endput %}
<nav class="side-menu">
    <header>
        <h1>INFORMASI</h1>
    </header>
    {% if parentNode and parentNode.getChildCount %}
    <ul>
        {% for primaryNav in parentNode.getChildren %}
            {% if primaryNav.enabled %}
                {% if primaryNav.getChildCount and numberOfLevels > 1 %}
                <li class="sub-menu ">
                    <a href="{{ primaryNav.getLinkHref }}">
                        {{ primaryNav.title }} 
                        <div class='fa fa-angle-down right'></div>
                    </a>
                {% else %}
                <li class="sub-menu {{ listItemClasses }} {{ primaryNav.getListItemClasses(activeLeft, activeRight) }}">
                    <a href="{{ primaryNav.getLinkHref }}">
                        {{ primaryNav.title }} 
                    </a>
                {% endif %}
                {% if primaryNav.getChildCount and numberOfLevels > 1 %}
                    <ul>
                        {% for secondaryNav in primaryNav.getChildren %}
                            {% if secondaryNav.enabled %}
                                <li>
                                    <a href='"{{ secondaryNav.getLinkHref }}'>
                                        {{ secondaryNav.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</nav>
{% put scripts %}
    <script>
         jQuery(document).ready(function() {
            jQuery('.sub-menu a').click(function(){
                jQuery(this).parent("li").children("ul").slideToggle('active');
            });
        });
    </script>
{% endput %}