{% set services = layanan.services %}

{% for service in services %}
<div id="{{ service.slug }}" class="vc_tta-panel" data-vc-content=".vc_tta-panel-body">
    <div class="vc_tta-panel-heading">
        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left">
            <a href="#{{ service.slug }}" data-vc-accordion="" data-vc-container=".vc_tta-container">
                <span class="vc_tta-title-text">{{ service.title_layanan }}</span> 
            </a>
        </h4>
    </div>
    <div class="vc_tta-panel-body">
        <div class="vc_row wpb_row vc_inner vc_row-fluid">
            <div class="wpb_column vc_column_container col-sm-12">&nbsp;</div>
            <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <div class="panel-body panel-body-sc">
                            {{ service.description |raw}}
                        </div>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 16px;">&nbsp;</div>
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4">
                <div class="wpb_wrapper">
                <!-- ========================== TEASER BOX ==========================-->
                <div class="teaser_box text-center  skincolored_section   with_button   ">
                    <!-- <div class="figure "> -->
                    <div class="full_width_photo   " style="background-image: url('{{ service.layanan_image.path }}'); background-size: contain; background-color: #ffffff;">&nbsp;</div>
                </div>
                <!-- END======================= TEASER BOX ==========================-->
                </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-12">&nbsp;</div>
        </div>
    </div>
</div>
{% else %}

{% endfor %}