title = "Dokter detail"
url = "/dokter/detail/:id"
layout = "dokter_layout"
description = "dokter detail"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderDetails]
modelClass = "Ardyanto\Dokter\Models\DoctorStaff"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "doctor_name"
notFoundMessage = "Record not found"
==
<div class="main secondary_section doctor_detail_imc" data-colorset="secondary_section">
   <section class="vc_off sidebar_off full_height vertical_center" >
      <div class="container doctor_detail_content">
         <div class="row">
            <div>
                {% set record = builderDetails.record %}
                {% set displayColumn = builderDetails.displayColumn %}
                {% set notFoundMessage = builderDetails.notFoundMessage %}
               <div class="profile_single_photo col-md-5">
                  {% if record %}
                    <figure class="stretchy_wrapper ratio_1-1" style="background-image: url('{{ record.doctor_image.path }}}')"><img src="{{record.doctor_image.path}}" alt="{{ record.doctor_name }}"></figure>
                  {% endif %}
                  <br>
                  <h6 class="title text-center"><i class="fa fa-hospital-o"></i> Jadwal Praktek RS IMC</h6>
                 
                  <div class="table" id="results">
                      <div class='theader'>
                        <div class='table_header'>Hari</div>
                        <div class='table_header'>Jam Praktek</div>
                        <div class='table_header'>Buat Janji</div>
                      </div>
                      {% if record.DoctorSchedule %}
                        {% for doctorschedule in record.DoctorSchedule %}
                          <div class='table_row'>
                            <div class='table_small'>
                              <div class='table_cell'>Hari</div>
                              <div class='table_cell'>{{ doctorschedule.day }}</div>
                            </div>
                            <div class='table_small'>
                              <div class='table_cell'>Jam Praktek</div>
                              <div class='table_cell'>{{ doctorschedule.time |raw}}</div>
                            </div>
                            <div class='table_small'>
                              <div class='table_cell'></div>
                              <div class='table_cell'><a href="/buat-janji" class="dBook"><i class="fa fa-calendar-o"></i> Buat Janji</a></div>
                            </div>
                          </div>
                        {% else %}

                        {% endfor %}
                      {% endif %}
                    </div>
                </div>
               <div class="col-md-7">
                  {% if record %}
                      <div class="section_header xbold">
                          <h3 class="post_title"> {{ record.doctor_name }}</h3>
                          <p class="post_subtitle">{{ record.DoctorSpesialis.spesialis_name }}</p>
                      </div>

                      <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                        <br>
                          {{ record.doctor_description |raw }}
                      </div> 
                  {% else %}
                      {{ notFoundMessage }}
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </section>
</div>