

{% put styles %}
<style>
.btn-default {
    color: #efefef;
    background-color: #323232;
    border-color: transparent;
    color: #efefef !important;
    background-color: #304770 !important;
    border-color: transparent !important;
}
.btn-default:hover{
    color: #efefef !important;
    background-color: #647594 !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
</style>
{% endput %}
    <form class="form-inline" method="GET" action="{{ __SELF__.resultPage|page }}">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">                                        
                    <input name="search" id="search" class="form-control" type="text" placeholder="Search">
                    {% if __SELF__.categoryFilter %}
                        <select name="cat[]" class="form-control">
                        {% for key,cat in __SELF__.categories %}
                            <option value="{{ key }}">{{ cat }}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                    <span class="input-group-btn">                                          
                        <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search"></i>{{ 'Search'|_ }}</button> 
                    </span>                                   
                </div>
            </div>
        </div>
    </form>


