<div class="vc_tta-panel" id="poli" data-vc-content=".vc_tta-panel-body">
        <div class="vc_tta-panel-heading">
            <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left">
                <a href="#poli" data-vc-accordion data-vc-container=".vc_tta-container">
                    <span class="vc_tta-title-text">POLIKLINIK</span>
                    <i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i>
                </a>
            </h4>
        </div>
        <div class="vc_tta-panel-body">
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                <div class="wpb_column vc_column_container col-sm-12">
                    <div class="wpb_wrapper">
                    <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container col-sm-8">
                    <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element " >
                        <div class="wpb_wrapper">
                                <div class="panel-body panel-body-sc">
                                    <p>Definisi :</p>
                                    <p style="padding-left: 30px;">Merupakan instalasi yang melayani hal-hal yang berkenaan dengan kegawatdaruratan medik bagi pasien dan keluarganya serta pertolongan pengobatan pada hari-hari libur / minggu. Kegawatdaruratan pada unit ini dilayani oleh perawat serta dokter. Pelayanan-pelayanan yang terdapat di Mitra Keluarga Bekasi adalah :</p>
                                    <p>Pelayanan-Pelayanan yang diberikan adalah :</p>
                                    <ul>
                                        <li>Pemeriksaan &amp; Pengobatan</li>
                                        <li>Pengobatan Luka Pada Pasien Kecelakaan</li>
                                        <li>Pertolongan Pengobatan Pertama Pada Pasien Henti Napas/ Henti Jantung / Kesadaran Menurun</li>
                                        <li>Hotline Service<br> Pelayanan Informasi tentang pertolongan pertama yang harus dilakukan di rumah saat tiba-tiba ada anggota keluarga mendapat serangan penyakit mendadak, seperti kejang, tidak sadar, henti napas, panas tinggi, dll.</li>
                                        <li>Home Care<br> Pelayanan kesehatan yang dapat diberikan di rumah pada pasien dengan penyakit kronis. Pelayanan ini diberikan oleh perawat atau dokter umum pada pagi sampai sore hari.</li>
                                        <li>Ambulan<br> Pelayanan untuk menjemput pasien dari rumah atau lokasi pasien berada ke Rumah Sakit atau sebaliknya. Fasilitas ambulan terdiri dari monitor lengkap, peralatan emergensi, brancar (tandu), scope stretcher (untuk memindahkan pasien dari tempat tidur ke brancar ambulan dan sebaliknya), tenaga perawat dan dokter jaga (bila diperlukan).</li>
                                    </ul>
                                    <p>Fasilitas :</p>
                                    <ul>
                                        <li>Ruang Resusitasi, dilengkapi dengan peralatan emergensi lengkap, ventilator transport, monitor &amp; defibrilator.</li>
                                        <li>Ruang Pemeriksaan &amp; Tindakan Bedah maupun Medikal</li>
                                    </ul>
                                    <p>Pelayanan 24 Jam Lainnya :</p>
                                    <ul>
                                        <li>Radiologi (termasuk MRI &amp; Multi Slices CT Scan)</li>
                                        <li>Laboratorium &amp; Bank Darah</li>
                                        <li>Farmasi</li>
                                        <li>Dokter Spesialis (Praktek atau on-call) sebagai konsulen (bila diperlukan)</li>
                                        <li>Kateterisasi jantung (Primary PCI)</li>
                                    </ul>
                                    <p>Informasi &amp; Pelayanan :</p>
                                    <ul>
                                        <li>Counter Rawat Inap (021) 885 3333 Ext. 1912 &amp; 1913</li>
                                        <li>Direct IGD : (021) 889 604 11</li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="vc_empty_space"   style="height: 16px" ><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container col-sm-4">
                    <div class="wpb_wrapper">
                    <!-- ========================== TEASER BOX ==========================-->
                        <div class="teaser_box text-center  skincolored_section   with_button   ">
                            <!-- <div class="figure "> -->
                            <div style="background-image: url(storage/app/media/LAYANAN_SERVICE/POLIKLINIK.jpg);background-size: contain;background-color: #FFFFFF;" class="full_width_photo   ">
                            </div>
                        </div>
                    <!-- END======================= TEASER BOX ==========================-->
                    </div>
                </div>
                <div class="wpb_column vc_column_container col-sm-12">
                    <div class="wpb_wrapper">
                    <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>