{% set records = filterdoctor.doctor %}
{% set spesialis = filterdoctor.spesialis %}
{% set spesialisSelected = filterdoctor.spesialisSelected %}
{% set nameDoctor = filterdoctor.nameDoctor %}
{% set daySelected = filterdoctor.daySelected %}
{% set days = filterdoctor.days %}


<div class="profile_single_photo col-md-3">
   <div class="wpb_wrapper">
      <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
         <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
         <h4> <i class="fa fa-search"></i> Input Pencarian</h4>
         <span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
      </div>
      <div >
         <div class="screen-reader-response"></div>
         <form method="GET" action="{{ url('jadwal-dokter') }}"  novalidate="novalidate">
            <p>
               <span class="wpcf7-form-control-wrap menu-919">
                  <b>Spesialisasi</b>
                  <select name="spesialis" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                     <option value="">-- Pilih Spesialisasi -- </option>
                     {% for key, spesial in spesialis %} 
                            
                        {% if spesialisSelected == key %}
                                <option value="{{key}}" selected="selected">{{spesial}}</option>
                            {% else %}
                                <option value="{{key}}">{{spesial}}</option>
                        {% endif %}
                     {% endfor %}
                  </select>
               </span>
            </p>
            <p>
               <span class="wpcf7-form-control-wrap fullname">
               <b>Nama Dokter</b> <br>
               <em class="small" style="font-weight:300;">Kosongkan Jika Ingin Semua Dokter</em>
               <input type="text" name="doctorname" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Imput Nama, Misal : Ardyanto" />
               </span>
            </p>
            <p>
                <span class="wpcf7-form-control-wrap menu-919">
                    <b>Hari</b>
                    <select name="day" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        <option value="">-- Pilih Hari -- </option>
                            {% for key, day in days %} 
                                
                            {% if daySelected == key %}
                                    <option value="{{key}}" selected="selected">{{day}}</option>
                                {% else %}
                                    <option value="{{key}}">{{day}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </p>
            <br>
            <p>
                <button type="submit">Cari Dokter</button>
                <!-- <input type="submit" value="Cari Dokter" class="wpcf7-form-control wpcf7-submit btn btn-primary" style="width: 100%;"> -->
                <span class="ajax-loader"></span>
            </p>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
         </form>
      </div>
   </div>
</div>

<div class="col-md-9">
    <div class="wpb_wrapper">
        <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
            <h4> <i class="fa fa-list"></i> List Dokter</h4>
            <span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
        </div>
           <!-- LIST DOCTOR -->
            <aside id="woocommerce_top_rated_products-1" class="widget woocommerce widget_top_rated_products">
                <!-- <h4>Top Rated Products</h4> -->
                <ul class="product_list_widget">
                    {% for record in records %}
                    <li>
                    <a href="../product/woo-album-4/index.html">
                    </a>
                    {# Use spaceless tag to remove spaces inside the A tag. #}
                    {% spaceless %}
                    <img width="303" height="326" src="{{ record.doctor_image.path }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="" srcset="{{ record.doctor_image.path }} 404w, {{ record.doctor_image.path }} 279w" sizes="(max-width: 303px) 100vw, 303px"></img>
                    <span class="product-title">{{ record.doctor_name }}</span>
                    <p><i class="fa fa-stethoscope">&nbsp;</i><span class="woocommerce-Price-amount amount">{{ record.DoctorSpesialis.spesialis_name }}</span></p>
                    <p><i class="fa fa-hospital-o"></i> Jadwal Praktek RS IMC</p>
                    <div class="table" id="results">
                        <div class='theader'>
                            <div class='table_header'>Hari</div>
                            <div class='table_header'>Jam Praktek</div>
                            <div class='table_header'></div>
                        </div>
                        {% if record.DoctorSchedule %}
                            {% for doctorschedule in record.DoctorSchedule %}
                                {% if daySelected == null %}
                                    <div class='table_row'>
                                        <div class='table_small'>
                                            <div class='table_cell'>Hari</div>
                                            <div class='table_cell'>{{ doctorschedule.day }}</div>
                                        </div>
                                        <div class='table_small'>
                                            <div class='table_cell'>Jam Praktek</div>
                                            <div class='table_cell'>{{ doctorschedule.time |raw}}</div>
                                        </div>
                                        <div class='table_small'>
                                            <div class='table_cell'></div>
                                            <div class='table_cell'><a href="/buat-janji" class="dBook"><i class="fa fa-calendar-o"></i> Buat Janji</a></div>
                                        </div>
                                    </div>
                                {% else %}

                                    {% if daySelected == doctorschedule.day %}
                                    <div class='table_row'>
                                        <div class='table_small'>
                                            <div class='table_cell'>Hari</div>
                                            <div class='table_cell'>{{ doctorschedule.day }}</div>
                                        </div>
                                        <div class='table_small'>
                                            <div class='table_cell'>Jam Praktek</div>
                                            <div class='table_cell'>{{ doctorschedule.time |raw}}</div>
                                        </div>
                                        <div class='table_small'>
                                            <div class='table_cell'></div>
                                            <div class='table_cell'><a href="/buat-janji" class="dBook"><i class="fa fa-calendar-o"></i> Buat Janji</a></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endspaceless %}
                    </li>
                    {% else %}
                    <li class="no-data"></li>
                    {% endfor %}
                </ul>
                
                {% if records.lastPage > 1 %}
                <ul class="pagination">
                    {% if records.currentPage > 1 %}
                    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}?spesialis={{spesialisSelected}}&doctorname={{nameDoctor}}&day={{daySelected}}">&larr; Prev</a></li>
                    {% endif %}
                    {% for page in 1..records.lastPage %}
                    <li class="{{ records.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}?spesialis={{spesialisSelected}}&doctorname={{nameDoctor}}&day={{daySelected}}">{{ page }}</a>
                    </li>
                    {% endfor %}
                    {% if records.lastPage > records.currentPage %}
                    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}?spesialis={{spesialisSelected}}&doctorname={{nameDoctor}}&day={{daySelected}}">Next &rarr;</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </aside>
        </div>
    </div>
</div>