{% set testimonials =  __SELF__.testimonials %}

<div class="carousel-inner">
    {% for testimonial in testimonials %}
        {% if(testimonial.id == 1) %}
            <div class="item carousel-item active">
                <div class="img-box"><img src="{{ testimonial.photo.path }}" alt=""></div>
                <p class="testimonial">{{ html_strip(testimonial.content) }} </p>
                {% if testimonial.author %}
                <p class="overview"><b>{{ testimonial.author }} </b></p>
                {% endif %}
            </div>
        {% else %}
            <div class="item carousel-item">
                <div class="img-box"><img src="{{ testimonial.photo.path }}" alt=""></div>
                <p class="testimonial">{{ html_strip(testimonial.content) }} </p>
                {% if testimonial.author %}
                <p class="overview"><b>{{ testimonial.author }} </b></p>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>