[viewBag]

[builderList faqsList]
modelClass = "Ardyanto\Faq\Models\Faqs"
scope = "scopeActive"
scopeValue = "{{ :scope }}"
displayColumn = "question"
noRecordsMessage = "No records found"
detailsPage = "faq/topic"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 3
pageNumber = "{{ :page }}"
==
<section class="vc_row wpb_row vc_row-fluid light_section separator_top sep_angled_positive_top separator_bottom sep_angled_positive_bottom rsimc_faq">
    <div class="container">
        <div class="col-sm-6 col-md-4">
            <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
            <aside id="plethora-latestnews-widget-1" class="widget latestnews-widget">
                <div class="pl_latest_news_widget">
                    <div class="teaser_box wpb_content_element text-center  skincolored_section    with_button   ">
                        <div class="figure ">
                           <a href="tanya-dokter" title="Tanya Dokter" target="">
                              <div class="figure  stretchy_wrapper ratio_16-9" style="background-image:url('/storage/app/media/5_48_12a.png')"></div>
                           </a>
                        </div>
                        <div class="content text-center boxed  with_button ">
                           <div class="hgroup">
                                <a href="tanya-dokter" target="" style="color: #ffffff;">
                                    <h5 class="neutralize_links" style="margin-top: 0px;margin-bottom: 1px;">
                                        Anda Memiliki Keluhan ?
                                    </h5>
                                    <p>Tanya Dokter</p>
                                </a>
                           </div>
                           <div class="link centered">
                                <a href="tanya-dokter" target="" class="btn btn-xs btn-secondary"><strong>Detail</strong></a>
                            </div>
                        </div>
                     </div>
                </div>
            </aside>
            <!-- END================== LATEST NEWS: MUSTACHE ========================-->
        </div>

        <div class="col-sm-6 col-md-8">
            <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
            <aside id="plethora-latestnews-widget-1" class="widget latestnews-widget">
                <div class="pl_latest_news_widget">
                    <h4>ARSIP TANYA DOKTER </h4>
                    <!---->
                    {% set records = faqsList.records %}
                    {% set displayColumn = faqsList.displayColumn %}
                    {% set noRecordsMessage = faqsList.noRecordsMessage %}
                    {% set detailsPage = faqsList.detailsPage %}
                    {% set detailsKeyColumn = faqsList.detailsKeyColumn %}
                    {% set detailsUrlParameter = faqsList.detailsUrlParameter %}
                    
                    <ul class="media-list">
                        {% for record in records %}
                            <li class="media">
                                {# Use spaceless tag to remove spaces inside the A tag. #}
                                {% spaceless %}
                                    {% if detailsPage %}
                                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="media-photo" style="border-radius: 50%; background-image:url('http://myoctober.local/storage/app/uploads/public/5be/158/95b/5be15895bde5f617051293.jpg')">
                                            <h6 class="media-heading" style="padding: 10px 0px 0px 0px;
                                            padding: 2px 0px 0px 0px;
                                            margin: 0 0 5px 85px;
                                            ">
                                                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{{ record.question_title }}</a>
                                            </h6>
                                            <p>{{html_limit(record.answer|raw, 200)}}</p>
                                        </a>
                                    {% endif %}
                                {% endspaceless %}
                            </li>
                        {% else %}
                            <li class="no-data">{{ noRecordsMessage }}</li>
                        {% endfor %}
                    </ul>
                    
                   
                   
                </div>
            </aside>
            <!-- END================== LATEST NEWS: MUSTACHE ========================-->
        </div>

 
    </div>
 </section>