[viewBag]

[Signup]
==
<footer class="sep_angled_positive_top separator_top ">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <aside id="nav_menu-2" class="widget widget_nav_menu">
                        <h4>Alamat</h4>
                        <div class="menu-quick-links-container">
                            <p>Jl. Jombang Raya No. 56 Bintaro Jaya Sektor IX Tangerang Selatan 15414</p>
                        </div>
                    </aside>
                    <!-- ========================== WIDGET ABOUT US ==========================-->
            
                    <!-- END======================= WIDGET ABOUT US ==========================-->
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
                    <aside id="plethora-latestnews-widget-1" class="widget latestnews-widget">
                        <div class="pl_latest_news_widget">
                            <h4>Layanan</h4>
                            <ul style="list-style-type:none;">
                                <li class="footer-text"><i class="fa fa-phone"></i> <span class="label-footer2"><a href="tel:+62217455200">(021)-7455200 (UGD)</a></span></li>
                                <li class="footer-text"><i class="fa fa-phone"></i> <span class="label-footer2"><a href="tel:+62217456379">(021)-7456379</a></span></li>
                                <li class="footer-text"><i class="fa fa-whatsapp"></i> <span class="label-footer2"><a href="tel:+628551200071">0855-1200-071 (WA/SMS)</a></span></li>
                                <li class="footer-text"><i class="fa fa-commenting"></i> <span class="label-footer2">5C8E48D7 (BBM)</span></li>
                                <li class="footer-text"><i class="fa fa-envelope"></i> <span class="label-footer2"> mail@rsimcbintaro.com</span></li>
                            </ul>
                            
                        </div>
                    </aside>
                    <!-- END================== LATEST NEWS: MUSTACHE ========================-->
                </div>
                <div class="col-sm-6 col-md-2">
                    <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
                        <div class="pl_about_us_widget  ">
                            <h4>Media Sosial</h4>
                            <p class="social">
                                <a href='https://twitter.com/RSIMC' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
                                <a href='https://www.facebook.com/RSIMCBintaro' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
                                <a href='https://www.instagram.com/imcbintaro/' target='_blank' title="Instagram"><i class='fa fa-instagram'></i></a>
                                <a href='https://www.youtube.com/channel/UCZBUlplIzXPA0mHIycfPc0A' target='_blank' title="Youtube"><i class='fa fa-youtube'></i></a>
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="col-sm-6 col-md-4">
                        <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
                            <div class="pl_about_us_widget  ">
                                <h4>Subscribe</h4>
                                 {% component 'Signup' %}
                            </div>
                        </aside>
                    </div>
            </div>
        </div>
    </footer>

    <div class="copyright dark_section">
        <div class="dark_section transparent_film">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        Copyright © 2018 RS IMC Bintaro. All rights reserved                          
                    </div>
                    <div class="col-sm-6 col-md-6 text-right">
                        <style>
                            .love {
                            display: inline-block;
                            position: relative;
                            top: .2em;
                            font-size: 1.4em;
                            color: #e74c3c;
                            -webkit-transform: scale(.9);
                            -moz-transform: scale(.9);
                            transform: scale(.9);
                            -webkit-animation: love .5s infinite linear alternate-reverse;
                            -moz-animation: love .5s infinite linear alternate-reverse;
                            animation: love .5s infinite linear alternate-reverse;
                            }
                            @-webkit-keyframes love {
                            to {-webkit-transform: scale(1.2);}
                            }
                            @-moz-keyframes love {
                            to {-moz-transform: scale(1.2);}
                            }
                            @keyframes love {
                            to {transform: scale(1.2);}
                            }
                        </style>
                        made with <span class="love">♥</span> by <a href="http://ardi-yanto.com/" target="_blank">aRDy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>