[viewBag]

[menu menumain]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 3
==
<div class="header ">
        <div class="topbar vcenter transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 hidden-xs hidden-sm text-left">
                        <div class="top_menu_container">
                            <ul id="menu-top-bar" class="top_menu hover_menu">
                                <li id="menu-item-1773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1773"><a title="Request an Appointment" href="appointment-booking/index.html">Buat Janji</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs hidden-sm text-right">
                        <i class="fa fa-ambulance"></i> Panggilan Darurat <strong>(021)-7455200 (UGD)</strong>      
                    </div>
                </div>
            </div>
        </div>
        <div class="mainbar  color">
            <div class="container">
                <div class="logo">
                    <a href="imc.ardi-yanto.com" class="brand">
                    <img src="/storage/app/media/logo_imc.png" alt="Rumah Sakit IMC">
                    </a>
                </div>
               
                <div class="menu_container">
                    <span class="close_menu">&times;</span>

                    {% component "menumain" %}
                </div>
                <label class="mobile_collapser">MENU</label> <!-- Mobile menu title -->
            </div>
        </div>
    </div>