[viewBag]

[layananhome]
==
<section class="vc_row wpb_row vc_row-fluid no_top_padding separator_bottom sep_angled_positive_bottom rsimc">
        <div class="container">
           <div class="row">
              <div class="wpb_column vc_column_container col-sm-12">
                 <div class="wpb_wrapper">
                    <div class="section_header subtitle_bottom   fancy text-left">
                       <h2>Layanan & Fasilitas</h2>
                       <p>kami berupaya untuk memberikan pelayanan medis yang tepat untuk setiap kebutuhan kesehatan anda.</p>
                    </div>
                 </div>
              </div>
              <div class="wpb_column vc_column_container col-sm-12 col-md-8 margin_bottom_grid text-left">
                 <div class="wpb_wrapper">
                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                       
                       <!--CONTENT-->
                       {% component 'layananhome' %}
                       
  
                    </div>
                 </div>
              </div>
              <div class="wpb_column vc_column_container col-sm-12 col-md-4 text-left">
                 <div class="wpb_wrapper">
                    <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_right vc_sep_color_black vc_separator-has-text" >
                       <span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span>
                       <h4>FASILITAS KAMI</h4>
                       <span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
                    </div>
                    <div class="wpb_text_column wpb_content_element " >
                       <div class="wpb_wrapper">
                          <p>kenyamanan Anda selama pengobatan sangat penting bagi kami . Kami meja Customer Relations terletak di pintu utama rumah sakit dan selalu bersedia untuk membantu kebutuhan khusus Anda . 
Anda dapat meminta Hubungan Pasien kami untuk membuat reservasi ruangan untuk keluarga pasien.</p>
                       </div>
                    </div>
                    <div class="plethora_button wpb_content_element   text-left btn_block">
                       <a href="layanan" class=" btn btn-primary with-icon icon-left" title=""  target="_self">
                       <i class="fa fa-sitemap"></i> 
                       Check Semua Layanan & Service
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>