<form action="https://plethorathemes.com/healthflex/contact/#wpcf7-f5-p255-o1" method="post" class="wpcf7-form demo" novalidate="novalidate">
    <div style="display: none;">
        <input type="hidden" name="_wpcf7" value="5" />
        <input type="hidden" name="_wpcf7_version" value="5.0.4" />
        <input type="hidden" name="_wpcf7_locale" value="en_US" />
        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p255-o1" />
        <input type="hidden" name="_wpcf7_container_post" value="255" />
    </div>
    <p>Nama Lengkap *<br />
        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> 
    </p>
    <p>Email *<br />
        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> 
    </p>
    <p>Perihal<br />
        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false" /></span> 
    </p>
    <p>Pesan<br />
        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false"></textarea></span> 
    </p>
    <p><button class="btn btn-primary wpcf7-response-output wpcf7-display-none">Kirim</button></p>
    <div class="wpcf7-response-output wpcf7-display-none"></div>
</form>