[viewBag]
==
<div id="perawat" class="vc_tta-panel" data-vc-content=".vc_tta-panel-body">
<div class="vc_tta-panel-heading">
<h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#perawat" data-vc-accordion="" data-vc-container=".vc_tta-container"> <span class="vc_tta-title-text">PERAWAT</span> </a></h4>
</div>
<div class="vc_tta-panel-body">
<div class="vc_row wpb_row vc_inner vc_row-fluid">
<div class="wpb_column vc_column_container col-sm-12">&nbsp;</div>
<div class="wpb_column vc_column_container col-sm-8">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<div class="panel-body panel-body-sc">
<p>1. Lulusan min D3 Keperawatan.&nbsp;<br />2. Usia max 35 tahun.&nbsp;<br />3. Memiliki sertifikat BTCLS.&nbsp;<br />4. Pengalaman kerja min. 1 tahun.&nbsp;<br />5. Mampu mengoperasikan computer (Ms. Office).&nbsp;<br />6. Berpenampilan menarik.&nbsp;<br /><br />LAMARAN DAPAT DIKIRIMKAN LANGSUNG/ SURAT atau via email ( attachment maks. 100 KB ).&nbsp;</p>
<p><a href="mailto:%20imcbintaro.hrd@gmail.com">imcbintaro.hrd@gmail.com</a>&nbsp;Up. Sdri. Farisa</p>
<p>* Form biodata wajib diisi terlebih dahulu dan dibawa sewaktu wawancara.</p>

<a href="storage/app/media/doc_karir/41FORMULIR%20LAMARAN%20PEKERJAAN.doc">
    <button type="button" class="btn btn-primary">Download File</button>
  </a>
</div>
</div>
</div>
<div class="vc_empty_space" style="height: 16px;">&nbsp;</div>
</div>
</div>
<div class="wpb_column vc_column_container col-sm-4">
<div class="wpb_wrapper"><!-- ========================== TEASER BOX ==========================-->
<div class="teaser_box text-center  skincolored_section   with_button   "><!-- <div class="figure "> -->
<div class="full_width_photo   " style="background-image: url('/backend/storage/app/media/LAYANAN_SERVICE/POLIKLINIK.jpg'); background-size: contain; background-color: #ffffff;">&nbsp;</div>
</div>
<!-- END======================= TEASER BOX ==========================--></div>
</div>
<div class="wpb_column vc_column_container col-sm-12">&nbsp;</div>
</div>
</div>
</div>