{% put styles %}
<style>
    #{{ __SELF__ }} div {
        display: block;
        float: left;
        margin: 3px;
    }
</style>
{% endput %}

<div class="wpb_wrapper">
        <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
        <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text" >
            <span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span>
            <h4>{{ gallery.name }}</h4>
            <span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
        </div>
        <div class="wpb_text_column wpb_content_element " >
            <div class="wpb_wrapper">
                <p style="text-align: center;">{{ gallery.description }}</p>
            </div>
        </div>
        <div class="team_members_grid row">
            {% for image in gallery.images %}
                <div class="col-sm-6 col-md-3">
                    <div class="team_member teaser_box centered same_height_col white_section">
                        <a href="../blog/profile/ben-folklore/index.html" style="background-image: url('{{ image.path }}')" data-colorset="white_section" class="linkify figure stretchy_wrapper ratio_1-1"></a>
                
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% put scripts %}
<script>
    $(document).ready(function() {
        var {{ __SELF__ }} = $("#{{ __SELF__ }}").lightGallery({
            // Elements
            thumbnail   : {{ thumbnail }},
            caption     : {{ caption }},
            desc        : {{ desc }},
            counter     : {{ counter }},
            controls    : {{ controls }},
            preload     : {{ preload }},

            // Transitions
            mode   : '{{ mode }}',
            useCSS : true,
            easing : 'linear',
            speed  : {{ speed }},

            // Navigation
            hideControlOnEnd : false,
                loop             : {{ loop }},
            auto             : {{ auto }},
            pause            : {{ pause }},
            escKey           : {{ escKey }},
            swipeThreshold    : 50,

            lang : { allPhotos: '{{ lang }}' },
        });
    });
</script>
{% endput %}