
{% for gallery in galleries %}
		<div class="wpb_column vc_column_container col-sm-3 dark_section" >
			<div class="wpb_wrapper">
			<!-- ========================== TEASER BOX ==========================-->
			{% for key, image in gallery.images %}
			{% if key == 0 %}
				<div class="teaser_box wpb_content_element text-center   boxed   with_button   " style="background-image: url('{{ image.path }}'); background-size: cover;    height: 200px;border: #FFFFFF 1px solid;">
			{% endif %}
			{% endfor %}
		
					<div class="content text-center   with_button ">
		
						<div class="link centered">
							<a href="{{gallery.url}}"  target="" class="btn btn-xs btn-primary"><strong>Detail</strong></a>
						</div>
					</div>
				</div>
				<div class="hgroup">
					<h6 class="neutralize_links">
						<a href="{{gallery.url}}">{{gallery.name}}</a>
					</h6>
				</div>
			<!-- END======================= TEASER BOX ==========================-->
			</div>
		</div>
{% else %}
	{{noGalleriesMessage}}
{% endfor %}
