
{% for gallery in galleries %}
	<div class="wpb_column vc_column_container col-sm-4">
		<div class="wpb_wrapper">
			
			<div class="pricing_plan white_section  ">
				<div class="stretchy_wrapper ratio_16-9">
					
					{% for key, image in gallery.images %}
						{% if key == 0 %}
							<div style="background-image:url('{{ image.path }}');" class="pricing_plan_photo"></div>
						{% endif %}
					{% endfor %}
				</div>
				<div  class="plan_title secondary_section">
					<h4><a href="{{gallery.url}}">{{gallery.name}}</a></h4>
				</div>
			</div>
		</div>
	</div>
{% else %}
	{{noGalleriesMessage}}
{% endfor %}
