{% set spesialis = buatjanji.spesialis %}
{% set doctors = buatjanji.doctors %}

<form action="{{ url('buat-janji') }}" method="POST" accept-charset="UTF8" novalidate="novalidate">
        <input type="hidden" name="_handler" value="onSave">
        {{ form_token() }}
        {{ form_sessionKey() }}
    {% flash success %}
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Info!</strong> {{ message }}
        </div>
    {% endflash %}
    <p>
        <span class="wpcf7-form-control-wrap menu-919">
            <select  name="input_spesialis" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required js-example-basic-single" aria-required="true" aria-invalid="false">
                <option value="">-- Pilih Spesialisasi -- </option>
                {% for key, spesial in spesialis %} 
                        
                    {% if spesialisSelected == key %}
                            <option value="{{key}}" selected="selected">{{spesial}}</option>
                        {% else %}
                            <option value="{{key}}">{{spesial}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </span>
    </p>
    <p>
        <span class="wpcf7-form-control-wrap menu-919">
            <select name="input_dokter" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required js-example-basic-single" aria-required="true" aria-invalid="false">
                <option value="">-- Pilih Dokter -- </option>
                {% for key, doctor in doctors %} 
                        
                    {% if spesialisSelected == key %}
                            <option value="{{key}}" selected="selected">{{doctor}}</option>
                        {% else %}
                            <option value="{{key}}">{{doctor}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </span>
    </p>
    <!-- <p>
        <span class="wpcf7-form-control-wrap fullname">
            <input type="text" name="input_nama_dokter" value="" size="40" placeholder="Nama Dokter" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"  />
        </span>
    </p> -->
    <p>
        <span class="wpcf7-form-control-wrap fullname">
            <input type="text" name="input_fullname" value="" size="40" placeholder="Nama Lengkap" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"  />
        </span>
    </p>
    <p>
        <span class="wpcf7-form-control-wrap birthdate">
            <input type="date" name="input_date" value=""  placeholder="Tanggal" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date" aria-required="true" aria-invalid="false" />
        </span>
    </p>
    <p>
        <span class="wpcf7-form-control-wrap telephone">
            <input type="text" name="input_telephone" value="" size="40" placeholder="No Handphone" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-validates-as-required" aria-required="true" aria-invalid="false"  />
        </span>
    </p>
    <p>
        <span class="wpcf7-form-control-wrap email">
            <input type="email" name="input_email" value="" size="40" placeholder="Email" class="wpcf7-form-control wpcf7-form-control form-control wpcf7-form-control form-control wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"  />
        </span>
    </p>
    <p>
        <span class="wpcf7-form-control-wrap message">
            <textarea name="input_message" cols="40" rows="4" class="wpcf7-form-control wpcf7-form-control wpcf7-form-control form-control" aria-invalid="false" placeholder="Message"></textarea>
        </span>
    </p>
    {% flash success %}
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Info!</strong> {{ message }}
        </div>
    {% endflash %}
    <p> <button type="submit">Buat Janji</button></p>
    <div class="wpcf7-response-output wpcf7-display-none"></div>
</form> 