title = "buat janji"
url = "/buat-janji"
layout = "dokter_layout"
description = "Halaman janji dengan dokter"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[buatjanji]
==
{% put styles %}
    <link href="/themes/imc/assets/vendor/select2/dist/css/select2.min.css" rel="stylesheet" />
    <style>
    .select2 {
width:100%!important;
}</style>
{% endput %}

<div class="head_panel">
   <div style="background-image: url('storage/app/media/slide-3.jpg')" class="full_width_photo   ">
      <div class="hgroup">
         <div class="title diagonal-bgcolor-trans   ">
            <div class="container">
               <h1>Buat Janji</h1>
            </div>
         </div>
         <div class="subtitle body-bg_section   ">
            <div class="container">
               <p>Daftarkan diri anda secara online ke poliklinik dokter yang dituju.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="brand-colors"> </div>
<div class="main light_section" data-colorset="light_section">
   <section class="vc_row wpb_row vc_row-fluid no_padding">
      <div class="container">
         <div class="row">
            <div class="wpb_column vc_column_container col-sm-10 col-sm-offset-1 white_section margin_bottom_grid boxed_plus">
                    <div class="wpb_wrapper">
                    <div class="vc_empty_space"   style="height: 64px" ><span class="vc_empty_space_inner"></span></div>
                    <div>
                        <div class="screen-reader-response"></div>
                         {% component 'buatjanji' %} 
  
                    </div>
                    </div>
            </div>
         </div>
      </div>
      <br><br>
   </section>
   <div id="new_comment">
      <div class="container">
         <div class="new_comment">
         </div>
      </div>
   </div>
</div>

{% put scripts  %}
    <script type="text/javascript" src="/themes/imc/assets/vendor/select2/dist/js/select2.full.min.js"></script>
    <script>
    jQuery(document).ready(function() {
        jQuery('.js-example-basic-single').select2();
        jQuery(".alert-info").fadeTo(4000, 1000).slideUp(1000, function(){
                jQuery(".alert-info").slideUp(1000);
        });
    });
</script>
{% endput %}