title = "dokter"
url = "/dokter/:page?"
layout = "dokter_layout"
description = "Halaman dokter"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderList dokterList]
modelClass = "Ardyanto\Dokter\Models\DoctorStaff"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "doctor_name"
noRecordsMessage = "No records found"
detailsPage = "dokter/detail"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
recordsPerPage = 12
pageNumber = "{{ :page }}"
==
<div class="main foo" data-colorset="foo">
<section class="vc_row wpb_row vc_row-fluid rsimc">
   <div class="container doctor_detail_imc">
      <div class="row">
         <div class="wpb_column vc_column_container col-sm-12">
            <div class="wpb_wrapper">
               <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
               <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text" >
                  <span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span>
                  <h4>Informasi Dokter</h4>
                  <span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
               </div>
               
                {% set records = dokterList.records %}
                {% set displayColumn = dokterList.displayColumn %}
                {% set noRecordsMessage = dokterList.noRecordsMessage %}
                {% set detailsPage = dokterList.detailsPage %}
                {% set detailsKeyColumn = dokterList.detailsKeyColumn %}
                {% set detailsUrlParameter = dokterList.detailsUrlParameter %}
                
                <div class="team_members_grid row">
                    {% for record in records %}
                      {# Use spaceless tag to remove spaces inside the A tag. #}
                      {% spaceless %}
                
                      
                      <div class="col-sm-6 col-md-3">
                        <div class="team_member teaser_box centered same_height_col white_section">
                            <a href="dokter/detail" style="background-image: url('{{ record.doctor_image.path }}')" data-colorset="white_section" class="linkify figure stretchy_wrapper ratio_1-1"></a>
                            <div class="content boxed  with_button ">
                              <div class="hgroup">
                                  <h6>{{ record.doctor_name }}</h6>
                                  <p>{{ record.DoctorSpesialis.spesialis_name }}</p>
                              </div>
                    
                              <div class="link">
                                  {% if detailsPage %}
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" data-colorset="white_section" class="linkify btn btn-xs btn-default">Lihat Profil</a>
                                  {% endif %}
                              </div>
                            </div>
                        </div>
                      </div>
                      {% endspaceless %}
                    {% endfor %}
                </div>
                
                {% if records.lastPage > 1 %}
                    <ul class="pagination">
                        {% if records.currentPage > 1 %}
                            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
                        {% endif %}
                
                        {% for page in 1..records.lastPage %}
                            <li class="{{ records.currentPage == page ? 'active' : null }}">
                                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                
                        {% if records.lastPage > records.currentPage %}
                            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
    
             
               <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
            </div>
         </div>
      </div>
   </div>
</section>
</div>