title = "galeri"
url = "/galeri"
layout = "static_layout"
description = "Gallery"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[galleriesList]
galleryPage = "galeri/post"
categoryPage = 404
noGalleriesMessage = "No galleries found"
==
<style>
    section.vc_row.wpb_row.vc_row-fluid.secondary_section.transparent_film.bgimage.bg_vcenter.rsimc {
        padding-top: 128px;
        padding-bottom: 128px;
    }
    .dark_section, .main .dark_section, div[class*="_section"] .dark_section, section[class*="_section"] .dark_section, section[class*="_section"] div[class*="_section"] .dark_section {
        background-color:transparent;
    }
    .neutralize_links{
        text-align: center;
        margin-top: -21px;
    }
   .dark_section.neutralize_links a:hover, .dark_section .neutralize_links a:hover {
        color: #76befb  !important;
    }
    @media (max-width: 767px){
        .folded_section .teaser_box {
            margin-bottom: 30px !important;
        }
    }
</style>
<div class="brand-colors"> </div>
<section style="background-image: url('storage/app/media/informasi/IMC.jpeg')" class="vc_row wpb_row vc_row-fluid secondary_section transparent_film bgimage bg_vcenter rsimc">
    <div class="container">
        <div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="wpb_wrapper">
                    <div class="section_header subtitle_bottom   fancy text-center">
                        <h2>Galleri</h2>
                        <p>KEGIATAN-KEGIATAN KAMI</p>
                    </div>
        
                    <div class="vc_row wpb_row vc_inner vc_row-fluid folded_section">

                        {% component 'galleriesList' %}
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

