title = "informasi"
url = "/informasi"
layout = "static_layout"
description = "Infromasi"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[menuside]
start = "id-9"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
<div class="brand-colors"> </div>
    <div class="main foo" data-colorset="foo">
    <section class="sidebar_on padding_top_half" >
        <div class="container">
            <div class="row">
                <div id="sidebar" class="col-sm-4 col-md-4">
                    <aside id="categories-3" class="widget widget_categories">
                        <!-- <h4>Informasi</h4> -->
                        {% component 'menuside' %}
                        <!--<ul>
                            <li class="cat-item cat-item-9"><a href="category/videos-fg/index.html" title="Category description for "Educational Videos"">Educational Videos</a></li>
                            <li class="cat-item cat-item-6"><a href="category/images-fg/index.html" title="Category description for "Medical Articles"">Medical Articles</a></li>
                            <li class="cat-item cat-item-8"><a href="category/news/index.html" title="Category description for "News"">News</a></li>
                            <li class="cat-item cat-item-7"><a href="category/links-fg/index.html" title="Category description for "Usefull info Links"">Usefull info Links</a></li>
                        </ul>-->
                    </aside>
                </div>
                <div class="col-sm-8 col-md-8 main_col ">
                    <div class="post-grid classic">
                    <div class="row">
                        <div class="col-md-12">
                            <article id="post-1557" class="post post-1557 type-post status-publish format-standard has-post-thumbnail sticky hentry category-news tag-exercise tag-fitness tag-health tag-tips">
                                <div class="post_headings">
                                <h2 class="post_title"><a href="2015/11/23/daily-exercise-is-essential-for-your-health/index.html">Daily Exercise is essential</a></h2>
                                </div>
                                <div class="post_figure_and_info">
                                <div class="post_sub"><span class="post_info post_date"><i class="fa fa-calendar"></i> November 23, 2015</span><a href="author/cleanstart/index.html" title="HealthX"><span class="post_info post_author">HealthX</span></a><a href="category/news/index.html" title="View all posts in category: News"><span class="post_info post_categories">News</span></a></div>
                                <a href="2015/11/23/daily-exercise-is-essential-for-your-health/index.html" title="Daily Exercise is essential">
                                    <figure class="stretchy_wrapper ratio_2-1" style="background-image: url(https_/plethorathemes.com/healthflex/wp-content/uploads/2015/11/woman_running-1024x541.html)"><img src="../wp-content/uploads/2015/11/woman_running-1024x541.jpg" alt="Daily Exercise is essential"></figure>
                                </a>
                                </div>
                                <p>When was the last time you went out for a 30min walk? Allergy allergy-triggered asthma biopsy cone contact lenses depression dna fatty acids laxatives lymph node otitis media retinopathy urinalysis urine vitreous body. Allergy-triggered asthma blood bank blood type carbohydrate carbohydrate counting cardiologist cough diaphragm diarrhea ear canal epiglottis gingivitis histamine hyperglycemia immune system insulin insulin […]</p>
                                <p><a href="2015/11/23/daily-exercise-is-essential-for-your-health/index.html" class="btn btn-primary">Read More</a></p>
                            </article>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>