title = "jadwal dokter"
url = "/jadwal-dokter/:page?"
layout = "dokter_layout"
description = "Jadwal dokter"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[filterdoctor]
pageNumber = "{{ :page }}"
postsPerPage = 5
==
<div class="main secondary_section doctor_detail_imc" data-colorset="secondary_section">
   <section class="vc_off sidebar_off full_height vertical_center" >
      <div class="container doctor_detail_content">
         <div class="row">
            {% component 'filterdoctor' %}  
         </div>
      </div>
   </section>
</div>