title = "Kontak"
url = "/kontak"
layout = "static_layout"
description = "Kontak rumah sakit IMC"
is_hidden = 0

[simpleContact]
nameTitle = "Full Name"
emailTitle = "Email"
phoneTitle = "Phone"
subjectTitle = "Subject"
messageTitle = "Message"
buttonText = "Submit"
displayPhone = 1
==
<div class="head_panel">
    <div id="map" class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.7844898343988!2d106.70315341431089!3d-6.292030463334559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fab9f17acd05%3A0x92566e1465ede4b9!2sRumah+Sakit+Ichsan+Medical+Centre!5e0!3m2!1sid!2sid!4v1451981565386" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="hgroup">
        <div class="title diagonal-bgcolor-trans  ">
            <div class="container">
                <h1>Kontak Kami</h1>
            </div>
        </div>
        <div class="subtitle body-bg_section   ">
            <div class="container">
                <p>Kami berkomitmen untuk memberikan layanan terbaik kepada setiap pasien dan pengunjung. Apakah itu pujian atau saran, kami menyambut Anda untuk membaginya dengan kami. Anda juga dapat meminta staf kami yang berdedikasi setiap pertanyaan yang Anda miliki sebelumnya, selama atau setelah kunjungan Anda.</p>
            </div>
        </div>
    </div>
</div>
<div class="brand-colors"> </div>
<div class="main foo" data-colorset="foo">
    <section class="vc_row wpb_row vc_row-fluid no_padding">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container col-sm-6 secondary_section margin_bottom_grid boxed_plus">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space"   style="height: 64px" ><span class="vc_empty_space_inner"></span></div>
                        <div role="form" class="wpcf7" id="wpcf7-f5-p255-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                             <!--Component COntact-->
                             {% component 'simpleContact' %}
                        </div>
                        <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container col-sm-6 boxed_plus">
                    <div class="wpb_wrapper">
                        <div class="vc_empty_space"   style="height: 64px" ><span class="vc_empty_space_inner"></span></div>
                        <div  class="wpb_single_image wpb_content_element vc_align_left">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="103" height="100" src="../wp-content/uploads/2015/09/icon_med_book.png" class="vc_single_image-img attachment-medium" alt="" /></div>
                            </figure>
                        </div>
                        <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text" >
                            <span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span>
                            <h4>Kontak &amp; Kami</h4>
                            <span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
                        </div>
                        <div class="wpb_text_column wpb_content_element " >
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Jl. Jombang Raya No. 56 Bintaro Ciputat Tangerang Selatan 15414</p>
                                        <p><strong>UGD : </strong> (021) 745 5200 </p>
                                        <p><strong>PHONE : </strong> (021) 745 6379</p>
                                        <p><strong>(WA/SMS) : </strong> 0855-1200-071 </p>
                                        <p><strong>Email : </strong> mail@rsimcbintaro.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text" >
                            <span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span>
                            <h4>Buat Janji</h4>
                            <span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
                        </div>
                        <div class="wpb_text_column wpb_content_element " >
                            <div class="wpb_wrapper">
                                <p> Anda ingin membuat janji dengan dokter klik tombol di bawah ini. </p>
                                <strong><a href="../appointment-booking/index.html">Buat Janji</a></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="new_comment">
        <div class="container">
            <div class="new_comment">
            </div>
        </div>
    </div>
</div>