title = "layanan"
url = "/layanan"
layout = "static_layout"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[layanan]
==
<div class="head_panel">
    <div style="background-image: url(storage/app/media/LAYANAN_SERVICE/fasilitas_rs_imc.jpg)" class="full_width_photo   ">
        <div class="hgroup">
            <div class="title diagonal-bgcolor-trans   ">
                <div class="container">
                <h1>Layanan & Fasilitas</h1>
                </div>
            </div>
            <div class="subtitle body-bg_section   ">
                <div class="container">
                <p>kami berupaya untuk memberikan pelayanan medis yang tepat untuk setiap kebutuhan kesehatan anda.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main foo" data-colorset="foo">
    <section class="vc_row wpb_row vc_row-fluid">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container col-sm-12">
                    <div class="wpb_wrapper">
                        <div class="vc_tta-container" data-vc-action="collapseAll">
                            <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-white vc_tta-style-classic vc_tta-shape-square vc_tta-spacing-10 vc_tta-controls-align-left vc_tta-o-all-clickable">
                                <div class="vc_tta-panels-container">
                                    <div class="vc_tta-panels">
                                        <!--CONTENT-->
                                        {% component 'layanan' %}

                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <div id="new_comment">
        <div class="container">
            <div class="new_comment">
            </div>
        </div>
    </div>
</div>