title = "Tanya Dokter"
url = "/tanya-dokter/:page?"
layout = "dokter_layout"
description = "Tanya Dokter"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderList faqsList]
modelClass = "Ardyanto\Faq\Models\Faqs"
scope = "scopeActive"
scopeValue = "{{ :scope }}"
displayColumn = "question"
noRecordsMessage = "No records found"
detailsPage = "faq/topic"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 5
pageNumber = "{{ :page }}"

[buatfaq]
==
<div class="main secondary_section doctor_detail_imc" data-colorset="secondary_section">
   <section class="vc_off sidebar_off full_height vertical_center" >
      <div class="container doctor_detail_content">
         <div class="row">
            <div>
               <div class="profile_single_photo col-md-4">
                    <img src="/storage/app/media/dokter/tanya-dokter.jpg" alt="Tanya Dokter">
                </div>
               <div class="col-md-8">
                   <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_right vc_sep_color_black vc_separator-has-text">
                       <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
                       <h4>Tanya Dokter</h4>
                      
                   </div>
                   <div class="plethora_button wpb_content_element   text-left btn_block">
                       <a href="/tanya-dokter?showtopic=true" class=" btn btn-primary with-icon icon-left" title="" target="_self">
                       <i class="fa fa-pencil"></i> 
                           Buat Pertanyaan
                       </a>
                   </div>

                    {% component 'buatfaq' %} 
        
                   <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_right vc_sep_color_black vc_separator-has-text">
                       <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
                       <h4>Diskusi Kesehatan Terbaru</h4>
                     
                   </div>
                   
                   <!--list FAQS -->
                   <aside id="plethora-latestnews-widget-1" class="widget latestnews-widget">
                       <div class="pl_latest_news_widget">
                            {% set records = faqsList.records %}
                            {% set displayColumn = faqsList.displayColumn %}
                            {% set noRecordsMessage = faqsList.noRecordsMessage %}
                            {% set detailsPage = faqsList.detailsPage %}
                            {% set detailsKeyColumn = faqsList.detailsKeyColumn %}
                            {% set detailsUrlParameter = faqsList.detailsUrlParameter %}
                            
                            <ul class="media-list">
                                {% for record in records %}
                                    <li class="media">
                                        {# Use spaceless tag to remove spaces inside the A tag. #}
                                        {% spaceless %}
                                            {% if detailsPage %}
                                                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="media-photo" style="border-radius: 50%; background-image:url('http://myoctober.local/storage/app/uploads/public/5be/158/95b/5be15895bde5f617051293.jpg')">
                                                    <h6 class="media-heading" style="padding: 10px 0px 0px 0px;
                                                    padding: 2px 0px 0px 0px;
                                                    margin: 0 0 5px 85px;
                                                    ">
                                                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{{ record.question_title }}</a>
                                                    </h6>
                                                    <p>{{html_limit(record.answer|raw, 200)}}</p>
                                                </a>
                                            {% endif %}
                                        {% endspaceless %}
                                    </li>
                                {% else %}
                                    <li class="no-data">{{ noRecordsMessage }}</li>
                                {% endfor %}
                            </ul>
                            
                            {% if records.lastPage > 1 %}
                                <ul class="pagination">
                                    {% if records.currentPage > 1 %}
                                        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
                                    {% endif %}
                            
                                    {% for page in 1..records.lastPage %}
                                        <li class="{{ records.currentPage == page ? 'active' : null }}">
                                            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                                        </li>
                                    {% endfor %}
                            
                                    {% if records.lastPage > records.currentPage %}
                                        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                       </div>
                    </aside>
          
               </div>
            </div>
         </div>
      </div>
   </section>
</div>

{% put scripts  %}
<script>
    jQuery(document).ready(function() {
        jQuery('.btn-buat-faq').click(function() {
            jQuery('.buatfaq').slideToggle("fast");
            jQuery(this).closest('form').find("input[type=text], input[type=email], textarea, select").val("");
        });
    });
</script>
{% endput %}