
{% if __SELF__.menuItems %}
<nav class="side-menu">
        <!-- <header>
            <h1>INFORMASI</h1>
        </header> -->
        <ul>
            {% partial __SELF__ ~ "::items" items=__SELF__.menuItems %}
        </ul>
</nav>
{% endif %}
{% put scripts %}
    <script>
         jQuery(document).ready(function() {
            jQuery('.sub-menu a').click(function(){
                jQuery(this).parent("li").children("ul").slideToggle('active');
            });
        });
    </script>
{% endput %}