[viewBag]

[blogPosts artikel]
pageNumber = "{{ :page }}"
categoryFilter = "ARTIKEL"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
exceptPost = 1
paging = "false"

[blogPosts event]
pageNumber = "{{ :page }}"
categoryFilter = "EVENT"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
exceptPost = 1
paging = "false"

[blogPosts promo]
pageNumber = "{{ :page }}"
categoryFilter = "PROMO"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
exceptPost = 1
paging = "false"
==
<section class="vc_row wpb_row vc_row-fluid light_section separator_top sep_angled_positive_top separator_bottom sep_angled_positive_bottom rsimc">
    <div class="container">
        <div class="col-sm-6 col-md-4">
            <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
            <aside id="plethora-latestnews-widget-1" class="widget latestnews-widget">
                <div class="pl_latest_news_widget">
                    <h4>Artikel </h4>
                    {% component 'artikel' paging='false' %}
                </div>
            </aside>
            <!-- END================== LATEST NEWS: MUSTACHE ========================-->
        </div>

        <div class="col-sm-6 col-md-4">
            <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
            <aside id="plethora-latestnews-widget-1" class="widget latestnews-widget">
                <div class="pl_latest_news_widget">
                    <h4>Event </h4>
                    {% component 'event' paging='false' %}
                </div>
            </aside>
            <!-- END================== LATEST NEWS: MUSTACHE ========================-->
        </div>

        <div class="col-sm-6 col-md-4">
            <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
            <aside id="plethora-latestnews-widget-1" class="widget latestnews-widget">
                <div class="pl_latest_news_widget">
                    <h4>Promo </h4>
                    {% component 'promo' paging='false' %}
                </div>
            </aside>
            <!-- END================== LATEST NEWS: MUSTACHE ========================-->
        </div>
 
    </div>
 </section>