
    <section class="vc_row wpb_row vc_row-fluid no_padding no_cols_padding elevate folded_section transparent rsimcbox">
        <div class="container">
            <div class="row">
                <div class="wpb_column vc_column_container col-sm-3 col-xs-6 skincolored_section ">
                        <div class="wpb_wrapper">
                            <!-- ========================== TEASER BOX ==========================-->
                            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button   ">
                                <div class="figure transparent">
                                    <img src="{{ 'assets/vendor/uploads/2015/09/icon_tree_white.png'|theme }}" alt="Departments">   
                                </div>
                                <div class="content text-center   with_button ">
                                    <div class="hgroup">
                                        <h4 class="neutralize_links">
                                            Layanan
                                        </h4>
                                        <p>Kami memiliki banyak layanan unggulan</p>
                                    </div>
                                    <div class="link centered">
                                        <a href="#"  target="" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                                    </div>
                                </div>
                            </div>
                            <!-- END======================= TEASER BOX ==========================-->
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-sm-3 col-xs-6 skincolored_section ">
                        <div class="wpb_wrapper">
                            <!-- ========================== TEASER BOX ==========================-->
                            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button   ">
                                <div class="figure transparent">
                                    <img src="{{ 'assets/vendor/uploads/2015/09/icon_med_book_white.png'|theme }}" alt="Medical Services">   
                                </div>
                                <div class="content text-center   with_button ">
                                    <div class="hgroup">
                                        <h4 class="neutralize_links">
                                            Jadwal Dokter Hari Rabu
                                        </h4>
                                        <p>A list of all available</p>
                                    </div>
                                    <div class="link centered">
                                        <a href="#"  target="" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                                    </div>
                                </div>
                            </div>
                            <!-- END======================= TEASER BOX ==========================-->
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-sm-3 col-xs-6 skincolored_section ">
                        <div class="wpb_wrapper">
                            <!-- ========================== TEASER BOX ==========================-->
                            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button   ">
                                <div class="figure transparent">
                                    <img src="{{ 'assets/vendor/uploads/2015/09/icon_doctor1.png'|theme }}" alt="Find a doctor">   
                                </div>
                                <div class="content text-center   with_button ">
                                    <div class="hgroup">
                                        <h4 class="neutralize_links">
                                            Pencarian Dokter
                                        </h4>
                                        <p>Pastikan kunjungan anda lebih nyaman dengan mengatur jadwal terlebih dahulu dengan dokter-dokter kami.</p>
                                    </div>
                                    <div class="link centered">
                                        <a href="#"  target="" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                                    </div>
                                </div>
                            </div>
                            <!-- END======================= TEASER BOX ==========================-->
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-sm-3 col-xs-6 skincolored_section ">
                        <div class="wpb_wrapper">
                            <!-- ========================== TEASER BOX ==========================-->
                            <div class="teaser_box wpb_content_element text-center  transparent boxed same_height_col  with_button   ">
                                <div class="figure transparent">
                                    <img src="{{ 'assets/vendor/uploads/2015/09/icon_help_desk1.png'|theme }}" alt="Request an appointment">   
                                </div>
                                <div class="content text-center   with_button ">
                                    <div class="hgroup">
                                        <h4 class="neutralize_links">
                                            Buat Janji Dokter
                                        </h4>
                                        <p>Cek jadwal praktek klinik kami lebih lanjut sebelum datang berkonsultasi.</p>
                                    </div>
                                    <div class="link centered">
                                        <a href="#"  target="" class="btn btn-xs btn-secondary"><strong>More</strong></a>
                                    </div>
                                </div>
                            </div>
                            <!-- END======================= TEASER BOX ==========================-->
                        </div>
                    </div>
            </div>
        </div>
    </section>


