<footer class="sep_angled_positive_top separator_top ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <!-- ========================== WIDGET ABOUT US ==========================-->
                    <aside id="plethora-aboutus-widget-1" class="widget aboutus-widget">
 
                    </aside>
                    <!-- END======================= WIDGET ABOUT US ==========================-->
                </div>
                <div class="col-sm-6 col-md-3">
                    <aside id="nav_menu-2" class="widget widget_nav_menu">
                        <h4>Quick Links</h4>
                        <div class="menu-quick-links-container">
                            <ul id="menu-quick-links" class="menu">
                                <li id="menu-item-1784" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1784"><a href="services/index.html">All Medical Services</a></li>
                                <li id="menu-item-1785" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1785"><a href="appointment-booking/index.html">Appointment Booking</a></li>
                                <li id="menu-item-1786" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1786"><a href="faq/index.html">FAQ</a></li>
                                <li id="menu-item-1787" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1787"><a href="fees-insurance/index.html">Fees &amp; Insurance</a></li>
                                <li id="menu-item-1788" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1788"><a href="health-library/index.html">Health Library A-Z</a></li>
                                <li id="menu-item-1755" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1755"><a href="shop/index.html">Shop</a></li>
                                <li id="menu-item-1791" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1791"><a href="free-checkup-offer/index.html">Free Checkup Offer</a></li>
                            </ul>
                        </div>
                    </aside>
                    <!-- ========================== WIDGET ABOUT US ==========================-->
                    <aside id="plethora-aboutus-widget-2" class="widget aboutus-widget">
                        <div class="pl_about_us_widget  ">
                            <p class="social">
                                <a href='#' target='_blank' title="Twitter"><i class='fa fa-twitter'></i></a>
                                <a href='#' target='_blank' title="Facebook"><i class='fa fa-facebook'></i></a>
                                <a href='#' target='_blank' title="Google+"><i class='fa fa-google-plus'></i></a>
                                <a href='#' target='_blank' title="LinkedIn"><i class='fa fa-linkedin'></i></a>
                                <a href='#' target='_blank' title="Skype"><i class='fa fa-skype'></i></a>
                                <a href='#' target='_blank' title="Send Us An Email"><i class='fa fa-envelope'></i></a>
                            </p>
                        </div>
                    </aside>
                    <!-- END======================= WIDGET ABOUT US ==========================-->
                </div>
                <div class="col-sm-6 col-md-3">
                    <!-- ===================== LATEST NEWS: MUSTACHE ========================-->
                    <aside id="plethora-latestnews-widget-1" class="widget latestnews-widget">
                        <div class="pl_latest_news_widget">
                            <h4>Latest News </h4>
                            <ul class="media-list">
                                <li class="media">
                                    <a href="blog/2015/11/23/daily-exercise-is-essential-for-your-health/index.html" class="media-photo" style="background-image:url(' wp-content/uploads/2015/11/woman_running-150x150.jpg')"></a> 
                                    <h5 class="media-heading">
                                        <a href="blog/2015/11/23/daily-exercise-is-essential-for-your-health/index.html">Daily Exercise is essential</a>
                                        <small>Nov 23</small> 
                                    </h5>
                                    <p>When was the last time you went out for a...</p>
                                </li>
                                <li class="media">
                                    <a href="blog/2015/09/30/medical-advice/index.html" class="media-photo" style="background-image:url(' wp-content/uploads/2015/09/blog-pills-150x150.jpg')"></a> 
                                    <h5 class="media-heading">
                                        <a href="blog/2015/09/30/medical-advice/index.html">Medical Advice for all ages and sexes</a>
                                        <small>Sep 30</small> 
                                    </h5>
                                    <p>How often does a post start with all these words? Allergy...</p>
                                </li>
                                <li class="media">
                                    <a href="blog/2015/09/30/diabetes-diet-and-food-tips/index.html" class="media-photo" style="background-image:url(' wp-content/uploads/2015/09/blog-salad-150x150.jpg')"></a> 
                                    <h5 class="media-heading">
                                        <a href="blog/2015/09/30/diabetes-diet-and-food-tips/index.html">Diabetes Diet and Healthy Food Tips</a>
                                        <small>Sep 30</small> 
                                    </h5>
                                    <p>Let&#8217;s talk about what is health and how can this...</p>
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <!-- END================== LATEST NEWS: MUSTACHE ========================-->
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright dark_section">
        <div class="dark_section transparent_film">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        Copyright &copy;2016 all rights reserved                           
                    </div>
                    <div class="col-sm-6 col-md-6 text-right">
                        Designed by <a href="http://plethorathemes.com/" target="_blank">Plethora Themes</a>                           
                    </div>
                </div>
            </div>
        </div>
    </div>