[viewBag]

[menu menumain]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 3
==
<div class="header ">
        <div class="topbar vcenter transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 hidden-xs hidden-sm text-left">
                        <div class="top_menu_container">
                            <ul id="menu-top-bar" class="top_menu hover_menu">
                                <li id="menu-item-1774" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1774"><a title="FAQ" href="faq/index.html">FAQ</a></li>
                                <li id="menu-item-1775" class="hidden menu-item menu-item-type-post_type menu-item-object-page menu-item-1775"><a title="Fees &amp; Insurance" href="fees-insurance/index.html">Fees &#038; Insurance</a></li>
                                <li id="menu-item-1773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1773"><a title="Request an Appointment" href="appointment-booking/index.html">Request an Appointment</a></li>
                                <li id="menu-item-2027" class="more_demos_top_bar menu-item menu-item-type-custom menu-item-object-custom menu-item-2027"><a title="More Demos" target="_blank" href="all-demos/index.html">More Demos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs hidden-sm text-right">
                        <i class="fa fa-ambulance"></i> Emergency Line <strong>(+555) 959-595-959</strong>      
                    </div>
                </div>
            </div>
        </div>
        <div class="mainbar  color">
            <div class="container">
                <div class="logo">
                    <a href="https://plethorathemes.com/healthflex" class="brand">
                    <img src="storage/app/media/STATIC/healthflex_logo_color.png" alt="Rumah Sakit IMC">
                    </a>
                </div>
                <a title="" href="#" class="social_links"><i class="fa fa-share-alt"></i></a>
                <div class="team_social"><a href="#" title="Twitter" target="_self"><i class="fa fa fa-twitter"></i></a><a href="#" title="Facebook" target="_self"><i class="fa fa fa-facebook"></i></a><a href="#" title="Google+" target="_self"><i class="fa fa fa-google-plus"></i></a><a href="#" title="LinkedIn" target="_self"><i class="fa fa fa-linkedin"></i></a><a href="#" title="Skype" target="_self"><i class="fa fa fa-skype"></i></a><a href="#" title="Send Us An Email" target="_self"><i class="fa fa fa-envelope"></i></a></div>
                <div class="menu_container">
                    <span class="close_menu">&times;</span>

{% component "menumain" %}
                    <!-- <ul id="menu-primary-menu" class="main_menu hover_menu">
                        <li id="menu-item-1789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-145 current_page_item menu-item-1789 active"><a title="Home" href="index.html">Home</a></li>
                        <li id="menu-item-1673" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1673 lihasdropdown">
                            <a title="Our Clinic" href="#">Our Clinic  </a>
                            <ul role="menu" class=" menu-dropdown">
                                <li id="menu-item-1758" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1758"><a title="About Us" href="about-us/index.html">About Us</a></li>
                                <li id="menu-item-1769" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1769"><a title="Our Staff" href="our-staff/index.html">Our Staff</a></li>
                                <li id="menu-item-1759" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1759"><a title="Careers" href="careers/index.html">Careers</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1760" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1760"><a title="Departments" href="departments/index.html">Departments</a></li>
                        <li id="menu-item-1771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1771"><a title="Services" href="services/index.html">Services</a></li>
                        <li id="menu-item-1674" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1674 lihasdropdown">
                            <a title="Info" href="#">Info  </a>
                            <ul role="menu" class=" menu-dropdown">
                                <li id="menu-item-1792" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1792"><a title="The Patient&#039;s &amp; Visitor&#039;s Guide" href="visit-guide/index.html">The Patient&#8217;s &#038; Visitor&#8217;s Guide</a></li>
                                <li id="menu-item-1767" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1767"><a title="Appointment Booking" href="appointment-booking/index.html">Appointment Booking</a></li>
                                <li id="menu-item-1762" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1762"><a title="Health Plans" href="health-plans/index.html">Health Plans</a></li>
                                <li id="menu-item-1761" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1761"><a title="Health Library A-Z" href="health-library/index.html">Health Library A-Z</a></li>
                                <li id="menu-item-1756" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1756"><a title="Fees &amp; Insurance" href="fees-insurance/index.html">Fees &#038; Insurance</a></li>
                                <li id="menu-item-1768" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1768"><a title="FAQ" href="faq/index.html">FAQ</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1763" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1763"><a title="Blog" href="blog/index.html">Blog</a></li>
                        <li id="menu-item-1764" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1764"><a title="Contact" href="contact/index.html">Contact</a></li>
                        <li id="menu-item-1765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1765"><a title="Shop" href="shop/index.html">Shop</a></li>
                        <li id="menu-item-1672" class="two-column dropleft menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1672 lihasdropdown">
                            <a title="More" href="#">More  </a>
                            <ul role="menu" class=" menu-dropdown">
                                <li id="menu-item-1772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1772"><a title="Free Offer Landing Page" href="free-checkup-offer/index.html">Free Offer Landing Page</a></li>
                                <li id="menu-item-1770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1770"><a title="A Department&#039;s Page" href="departments/cosmetic-surgery/index.html">A Department&#8217;s Page</a></li>
                                <li id="menu-item-1790" class="menu-item menu-item-type-post_type menu-item-object-terminology menu-item-1790"><a title="Knowledgebase Article" href="blog/terminology/alzheimers-disease/index.html">Knowledgebase Article</a></li>
                                <li id="menu-item-1793" class="menu-item menu-item-type-post_type menu-item-object-profile menu-item-1793"><a title="A Doctor&#039;s Profile" href="blog/profile/elias-carson/index.html">A Doctor&#8217;s Profile</a></li>
                                <li id="menu-item-1766" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1766"><a title="Shortcodes" href="shortcodes/index.html">Shortcodes</a></li>
                                <li id="menu-item-1675" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1675"><a title="Error 404 page" href="404.html">Error 404 page</a></li>
                                <li id="menu-item-1816" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1816"><a title="All Other Demos &lt;span class=&quot;label label-danger&quot;&gt; NEW! &lt;/span&gt;" target="_blank" href="all-demos/index.html">All Other Demos <span class="label label-danger"> NEW! </span></a></li>
                                <li id="menu-item-1918" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1918"><a title="Buy this Theme!" href="http://themeforest.net/item/healthflex-medical-health-wordpress-theme/13115123">Buy this Theme!</a></li>
                                <li id="menu-item-1754" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1754"><a title="Documentation" href="http://doc.plethorathemes.com/healthflex/">Documentation</a></li>
                                <li id="menu-item-1676" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1676"><a title="Support" href="http://plethorathemes.com/support/">Support</a></li>
                                <li id="menu-item-2044" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2044"><a title="Admin Demo &lt;span class=&quot;label label-danger&quot;&gt; NEW! &lt;/span&gt;" href="http://demo.plethorathemes.com/healthflex-admin/">Admin Demo <span class="label label-danger"> NEW! </span></a></li>
                            </ul>
                        </li>
                    </ul> -->
                </div>
                <label class="mobile_collapser">MENU</label> <!-- Mobile menu title -->
            </div>
        </div>
    </div>