<section class="vc_row wpb_row vc_row-fluid no_top_padding separator_bottom sep_angled_positive_bottom rsimc">
        <div class="container">
           <div class="row">
              <div class="wpb_column vc_column_container col-sm-12">
                 <div class="wpb_wrapper">
                    <div class="section_header subtitle_bottom   fancy text-left">
                       <h2>Layanan & Fasilitas</h2>
                       <p>kami berupaya untuk memberikan pelayanan medis yang tepat untuk setiap kebutuhan kesehatan anda.</p>
                    </div>
                 </div>
              </div>
              <div class="wpb_column vc_column_container col-sm-12 col-md-8 margin_bottom_grid text-left">
                 <div class="wpb_wrapper">
                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                       <div class="wpb_column vc_column_container col-sm-4">
                          <div class="wpb_wrapper">
                             <!-- ========================== TEASER BOX ==========================-->
                             <div class="teaser_box wpb_content_element text-center  light_section    with_button   ">
                                <div class="figure transparent">
                                   <a href="departments/cosmetic-surgery/index.html" title="" target="">
                                      <div class="figure transparent stretchy_wrapper ratio_4-3" style="background-image:url('wp-content/uploads/2015/09/entry-001.jpg')"></div>
                                   </a>
                                </div>
                                <div class="content text-center boxed_special  with_button ">
                                   <div class="hgroup">
                                      <h4 class="neutralize_links">
                                        UGD
                                      </h4>
                                      <p>Dr. Avis Stankovic</p>
                                   </div>
                                   <div class="link centered">
                                      <a href="departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-primary"><strong>More</strong></a>
                                   </div>
                                </div>
                             </div>
                             <!-- END======================= TEASER BOX ==========================-->
                          </div>
                       </div>
                       <div class="wpb_column vc_column_container col-sm-4">
                          <div class="wpb_wrapper">
                             <!-- ========================== TEASER BOX ==========================-->
                             <div class="teaser_box wpb_content_element text-center  light_section    with_button   ">
                                <div class="figure transparent">
                                   <a href="departments/cosmetic-surgery/index.html" title="" target="">
                                      <div class="figure transparent stretchy_wrapper ratio_4-3" style="background-image:url('wp-content/uploads/2015/09/video-004.jpg')"></div>
                                   </a>
                                </div>
                                <div class="content text-center boxed_special  with_button ">
                                   <div class="hgroup">
                                      <h4 class="neutralize_links">
                                        Poliklinik
                                      </h4>
                                      <p>Dr. John Manios</p>
                                   </div>
                                   <div class="link centered">
                                      <a href="departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-primary"><strong>More</strong></a>
                                   </div>
                                </div>
                             </div>
                             <!-- END======================= TEASER BOX ==========================-->
                          </div>
                       </div>
                       <div class="wpb_column vc_column_container col-sm-4">
                          <div class="wpb_wrapper">
                             <!-- ========================== TEASER BOX ==========================-->
                             <div class="teaser_box wpb_content_element text-center  light_section    with_button   ">
                                <div class="figure ">
                                   <a href="departments/cosmetic-surgery/index.html" title="" target="">
                                      <div class="figure  stretchy_wrapper ratio_4-3" style="background-image:url('wp-content/uploads/2015/09/slider-4.jpg')"></div>
                                   </a>
                                </div>
                                <div class="content text-center boxed_special  with_button ">
                                   <div class="hgroup">
                                      <h4 class="neutralize_links">
                                        Rawat Inap
                                      </h4>
                                      <p>Dr. Marie Curie</p>
                                   </div>
                                   <div class="link centered">
                                      <a href="departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-primary"><strong>More</strong></a>
                                   </div>
                                </div>
                             </div>
                             <!-- END======================= TEASER BOX ==========================-->
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="wpb_column vc_column_container col-sm-12 col-md-4 text-left">
                 <div class="wpb_wrapper">
                    <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_right vc_sep_color_black vc_separator-has-text" >
                       <span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span>
                       <h4>MODERN EQUIPMENT</h4>
                       <span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
                    </div>
                    <div class="wpb_text_column wpb_content_element " >
                       <div class="wpb_wrapper">
                          <p>Personalized patient care is what sets Medicus Medical Center apart. When you visit one of our four San Francisco campus locations you can expect to receive world class care. Expert physician specialists and caring clinical staff provide you with an exceptional patient care is what sets Medicus Medical Center apart health care experience.</p>
                       </div>
                    </div>
                    <div class="plethora_button wpb_content_element   text-left btn_block">
                       <a href="layanan" class=" btn btn-primary with-icon icon-left" title=""  target="_self">
                       <i class="fa fa-sitemap"></i> 
                       Check Semua Layanan
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>