[slider]
slide_show_id = 1

[viewBag]
==
<div class="head_panel">
                <div class="slider_wrapper">
                    <div id="head_panel_slider" class="owl-carousel">
                        {% if not(slider.slides.slideShows is same as ('no_slider')) %}
                            {% for slide in slider.slides.slideShows.slide_show_content %}
                                {% if slide.slide_link != '' %}
                                    <div class="stretchy_wrapper ratio_slider">
                                        <div  style="background-image: url( '{{slide.slide_image|media}}' ); background-position: {{slide.image_horizontal_position}}% {{slide.image_position}}%;" aria-hidden="true" class="item    ">
                                            <div class="container">
                                                <div class="caption caption_right caption_fancy  text-left">
                                                    {% if (slide.slide_title or slide.slide_description) %}
                                                    <div class="inner black_section transparent_film animated slideInUp">
                                                        <div class="t1">{{slide.slide_title}}</div>
                                                        <p class="desc hidden-xxs">{{slide.slide_description}}</p>
                                                        <div>
                                                            <a href="{{slide.slide_link}}" target="_self" class="btn btn-primary">
                                                            Learn More
                                                            </a>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="slide">
                                        <div class="slide-image" style="background-image: url( '{{slide.slide_image|media}}' ); background-position: {{slide.image_horizontal_position}}% {{slide.image_position}}%;">
                                            {% if (slide.slide_title or slide.slide_description) %}
                                            <div class="slide-content">
                                                <h1>{{slide.slide_title}}</h1>
                                                <p>{{slide.slide_description}}</p>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        {% endif %}
                       
                    </div>
                </div>
            </div>