title = "layanan"
url = "/layanan"
layout = "static_layout"
is_hidden = 0
==
<div class="head_panel">
    <div style="background-image: url(../wp-content/uploads/2013/06/doctor_blue_left.jpg)" class="full_width_photo   ">
        <div class="hgroup">
            <div class="title diagonal-bgcolor-trans   ">
                <div class="container">
                <h1>All Medical Services</h1>
                </div>
            </div>
            <div class="subtitle body-bg_section   ">
                <div class="container">
                <p>Featured by Department</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main foo" data-colorset="foo">
        <section class="vc_row wpb_row vc_row-fluid">
           <div class="container">
              <div class="row">
                 <div class="wpb_column vc_column_container col-sm-12">
                    <div class="wpb_wrapper">
                       <div class="vc_tta-container" data-vc-action="collapseAll">
                          <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-white vc_tta-style-classic vc_tta-shape-square vc_tta-spacing-10 vc_tta-controls-align-left vc_tta-o-all-clickable">
                             <div class="vc_tta-panels-container">
                                <div class="vc_tta-panels">
                                   <div class="vc_tta-panel" id="neurology" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                         <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#neurology" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Neurology</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                         <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-8">
                                               <div class="wpb_wrapper">
                                                  <div class="wpb_text_column wpb_content_element " >
                                                     <div class="wpb_wrapper">
                                                        <h5><strong>Mamography</strong></h5>
                                                        <p>Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.</p>
                                                        <h5><strong>Reproductive Endocrinology</strong></h5>
                                                        <p>Care and treatment for couples having difficulties conceiving a child. Conventional therapies such as medication and surgery can help your dreams of parenthood come true. Our partnership with Mayo Clinic allows us to provide referrals when advanced reproductive techniques are required.</p>
                                                        <h5><strong>Integrative Medicine</strong></h5>
                                                        <p>Alternative therapies stemming from the premise the mind, body and spirit function as one and addressing all promotes healing.</p>
                                                        <h5><strong>Chemical Dependency Treatment</strong></h5>
                                                        <p>Care for people with alcohol and other drug addictions. All treatment plans are individualized, ensuring that each person&#8217;s unique needs are met to promote healing and recovery. Dignity and respect are foundational values that guide our work.</p>
                                                        <h5><strong>Physical Therapy</strong></h5>
                                                        <p>Therapeutic care to restore movement and function to people disabled by disease or injury. Care may include exercise, training in activities of daily living and education. Our team works in collaboration with other specialties to offer comprehensive care and quickly restore you to your optimal health.</p>
                                                     </div>
                                                  </div>
                                                  <div class="vc_empty_space"   style="height: 16px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-4">
                                               <div class="wpb_wrapper">
                                                  <!-- ========================== TEASER BOX ==========================-->
                                                  <div class="teaser_box wpb_content_element text-center  skincolored_section boxed   with_button   ">
                                                     <div class="figure ">
                                                        <a href="../departments/cosmetic-surgery/index.html" title="" target=""> 
                                                        <i class="wmi icon-i-neurology"></i>
                                                        </a>
                                                     </div>
                                                     <div class="content text-center   with_button ">
                                                        <div class="hgroup">
                                                           <h4 class="neutralize_links">
                                                              Neurology Department
                                                           </h4>
                                                           <p>(+555) 959-595-959</p>
                                                        </div>
                                                        <div class="link centered">
                                                           <a href="../departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-secondary"><strong>Visit Department</strong></a>
                                                        </div>
                                                     </div>
                                                  </div>
                                                  <!-- END======================= TEASER BOX ==========================-->
                                                  <div class="team_members_grid row">
                                                     <div class="col-sm-12 col-md-12">
                                                        <div class="team_member teaser_box centered same_height_col skincolored_section">
                                                           <a href="../blog/profile/ben-folklore/index.html" style="background-image: url('../wp-content/uploads/2015/09/doctor-001.jpg')" data-colorset="skincolored_section" class="linkify figure stretchy_wrapper ratio_1-1"></a>
                                                           <div class="content boxed  with_button ">
                                                              <div class="hgroup">
                                                                 <h4>Ben Folklore</h4>
                                                                 <p>Cardiologist</p>
                                                              </div>
                                                              <div class="team_social">
                                                              </div>
                                                              <div class="desc">
                                                                 <p></p>
                                                              </div>
                                                              <div class="link">
                                                                 <a href="../blog/profile/ben-folklore/index.html" data-colorset="skincolored_section" class="linkify btn btn-xs btn-default">More</a>
                                                              </div>
                                                           </div>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="vc_tta-panel" id="1447153984663-e49cf286-1878" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                         <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1447153984663-e49cf286-1878" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Pediatrics</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                         <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-8">
                                               <div class="wpb_wrapper">
                                                  <div class="wpb_text_column wpb_content_element " >
                                                     <div class="wpb_wrapper">
                                                        <h5><strong>Mamography</strong></h5>
                                                        <p>Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.</p>
                                                        <h5><strong>Reproductive Endocrinology</strong></h5>
                                                        <p>Care and treatment for couples having difficulties conceiving a child. Conventional therapies such as medication and surgery can help your dreams of parenthood come true. Our partnership with Mayo Clinic allows us to provide referrals when advanced reproductive techniques are required.</p>
                                                        <h5><strong>Integrative Medicine</strong></h5>
                                                        <p>Alternative therapies stemming from the premise the mind, body and spirit function as one and addressing all promotes healing.</p>
                                                        <h5><strong>Chemical Dependency Treatment</strong></h5>
                                                        <p>Care for people with alcohol and other drug addictions. All treatment plans are individualized, ensuring that each person&#8217;s unique needs are met to promote healing and recovery. Dignity and respect are foundational values that guide our work.</p>
                                                        <h5><strong>Physical Therapy</strong></h5>
                                                        <p>Therapeutic care to restore movement and function to people disabled by disease or injury. Care may include exercise, training in activities of daily living and education. Our team works in collaboration with other specialties to offer comprehensive care and quickly restore you to your optimal health.</p>
                                                     </div>
                                                  </div>
                                                  <div class="vc_empty_space"   style="height: 16px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-4">
                                               <div class="wpb_wrapper">
                                                  <!-- ========================== TEASER BOX ==========================-->
                                                  <div class="teaser_box wpb_content_element text-center  skincolored_section boxed   with_button   ">
                                                     <div class="figure ">
                                                        <a href="../departments/cosmetic-surgery/index.html" title="" target=""> 
                                                        <i class="wmi icon-i-pediatrics"></i>
                                                        </a>
                                                     </div>
                                                     <div class="content text-center   with_button ">
                                                        <div class="hgroup">
                                                           <h4 class="neutralize_links">
                                                              Pediatrics Department
                                                           </h4>
                                                           <p>(+555) 959-595-959</p>
                                                        </div>
                                                        <div class="link centered">
                                                           <a href="../departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-secondary"><strong>Visit Department</strong></a>
                                                        </div>
                                                     </div>
                                                  </div>
                                                  <!-- END======================= TEASER BOX ==========================-->
                                                  <div class="team_members_grid row">
                                                     <div class="col-sm-12 col-md-12">
                                                        <div class="team_member teaser_box centered same_height_col skincolored_section">
                                                           <a href="../blog/profile/jane-burber/index.html" style="background-image: url('../wp-content/uploads/2015/11/doctor_f_2.jpg')" data-colorset="skincolored_section" class="linkify figure stretchy_wrapper ratio_1-1"></a>
                                                           <div class="content boxed  with_button ">
                                                              <div class="hgroup">
                                                                 <h4>Jane Burber</h4>
                                                                 <p>Pediatrician</p>
                                                              </div>
                                                              <div class="team_social">
                                                                 <a href="#"><i class="fa fa fa-twitter"></i></a>
                                                                 <a href="#"><i class="fa fa fa-linkedin"></i></a>
                                                                 <a href="#"><i class="fa fa fa-skype"></i></a>
                                                              </div>
                                                              <div class="desc">
                                                                 <p></p>
                                                              </div>
                                                              <div class="link">
                                                                 <a href="../blog/profile/jane-burber/index.html" data-colorset="skincolored_section" class="linkify btn btn-xs btn-default">More</a>
                                                              </div>
                                                           </div>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="vc_tta-panel" id="1448268456536-722ece38-0b79" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                         <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1448268456536-722ece38-0b79" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Diagnostic Imaging</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                         <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-8">
                                               <div class="wpb_wrapper">
                                                  <div class="wpb_text_column wpb_content_element " >
                                                     <div class="wpb_wrapper">
                                                        <h5><strong>Mamography</strong></h5>
                                                        <p>Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.</p>
                                                        <h5><strong>Reproductive Endocrinology</strong></h5>
                                                        <p>Care and treatment for couples having difficulties conceiving a child. Conventional therapies such as medication and surgery can help your dreams of parenthood come true. Our partnership with Mayo Clinic allows us to provide referrals when advanced reproductive techniques are required.</p>
                                                        <h5><strong>Integrative Medicine</strong></h5>
                                                        <p>Alternative therapies stemming from the premise the mind, body and spirit function as one and addressing all promotes healing.</p>
                                                        <h5><strong>Chemical Dependency Treatment</strong></h5>
                                                        <p>Care for people with alcohol and other drug addictions. All treatment plans are individualized, ensuring that each person&#8217;s unique needs are met to promote healing and recovery. Dignity and respect are foundational values that guide our work.</p>
                                                        <h5><strong>Physical Therapy</strong></h5>
                                                        <p>Therapeutic care to restore movement and function to people disabled by disease or injury. Care may include exercise, training in activities of daily living and education. Our team works in collaboration with other specialties to offer comprehensive care and quickly restore you to your optimal health.</p>
                                                     </div>
                                                  </div>
                                                  <div class="vc_empty_space"   style="height: 16px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-4">
                                               <div class="wpb_wrapper">
                                                  <!-- ========================== TEASER BOX ==========================-->
                                                  <div class="teaser_box wpb_content_element text-center  skincolored_section boxed   with_button   ">
                                                     <div class="figure ">
                                                        <a href="../departments/cosmetic-surgery/index.html" title="" target=""> 
                                                        <i class="wmi icon-i-radiology"></i>
                                                        </a>
                                                     </div>
                                                     <div class="content text-center   with_button ">
                                                        <div class="hgroup">
                                                           <h4 class="neutralize_links">
                                                              Diagnostic Imaging
                                                           </h4>
                                                           <p>(+555) 959-595-959</p>
                                                        </div>
                                                        <div class="link centered">
                                                           <a href="../departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-secondary"><strong>Visit Department</strong></a>
                                                        </div>
                                                     </div>
                                                  </div>
                                                  <!-- END======================= TEASER BOX ==========================-->
                                                  <div class="team_members_grid row">
                                                     <div class="col-sm-12 col-md-12">
                                                        <div class="team_member teaser_box centered same_height_col skincolored_section">
                                                           <a href="../blog/profile/lisa-starborn/index.html" style="background-image: url('../wp-content/uploads/2015/09/doctor-002.jpg')" data-colorset="skincolored_section" class="linkify figure stretchy_wrapper ratio_1-1"></a>
                                                           <div class="content boxed  with_button ">
                                                              <div class="hgroup">
                                                                 <h4>Lisa Starborn</h4>
                                                                 <p>Radiologist</p>
                                                              </div>
                                                              <div class="team_social">
                                                              </div>
                                                              <div class="desc">
                                                                 <p></p>
                                                              </div>
                                                              <div class="link">
                                                                 <a href="../blog/profile/lisa-starborn/index.html" data-colorset="skincolored_section" class="linkify btn btn-xs btn-default">More</a>
                                                              </div>
                                                           </div>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="vc_tta-panel" id="1448268485319-20bb3d67-9543" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                         <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1448268485319-20bb3d67-9543" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Cardiology</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                         <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-8">
                                               <div class="wpb_wrapper">
                                                  <div class="wpb_text_column wpb_content_element " >
                                                     <div class="wpb_wrapper">
                                                        <h5><strong>Mamography</strong></h5>
                                                        <p>Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.</p>
                                                        <h5><strong>Reproductive Endocrinology</strong></h5>
                                                        <p>Care and treatment for couples having difficulties conceiving a child. Conventional therapies such as medication and surgery can help your dreams of parenthood come true. Our partnership with Mayo Clinic allows us to provide referrals when advanced reproductive techniques are required.</p>
                                                        <h5><strong>Integrative Medicine</strong></h5>
                                                        <p>Alternative therapies stemming from the premise the mind, body and spirit function as one and addressing all promotes healing.</p>
                                                        <h5><strong>Chemical Dependency Treatment</strong></h5>
                                                        <p>Care for people with alcohol and other drug addictions. All treatment plans are individualized, ensuring that each person&#8217;s unique needs are met to promote healing and recovery. Dignity and respect are foundational values that guide our work.</p>
                                                        <h5><strong>Physical Therapy</strong></h5>
                                                        <p>Therapeutic care to restore movement and function to people disabled by disease or injury. Care may include exercise, training in activities of daily living and education. Our team works in collaboration with other specialties to offer comprehensive care and quickly restore you to your optimal health.</p>
                                                     </div>
                                                  </div>
                                                  <div class="vc_empty_space"   style="height: 16px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-4">
                                               <div class="wpb_wrapper">
                                                  <!-- ========================== TEASER BOX ==========================-->
                                                  <div class="teaser_box wpb_content_element text-center  skincolored_section boxed   with_button   ">
                                                     <div class="figure ">
                                                        <a href="../departments/cosmetic-surgery/index.html" title="" target=""> 
                                                        <i class="wmi icon-i-cardiology"></i>
                                                        </a>
                                                     </div>
                                                     <div class="content text-center   with_button ">
                                                        <div class="hgroup">
                                                           <h4 class="neutralize_links">
                                                              Cardiology Department
                                                           </h4>
                                                           <p>(+555) 959-595-959</p>
                                                        </div>
                                                        <div class="link centered">
                                                           <a href="../departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-secondary"><strong>Visit Department</strong></a>
                                                        </div>
                                                     </div>
                                                  </div>
                                                  <!-- END======================= TEASER BOX ==========================-->
                                                  <div class="team_members_grid row">
                                                     <div class="col-sm-12 col-md-12">
                                                        <div class="team_member teaser_box centered same_height_col skincolored_section">
                                                           <a href="../blog/profile/elias-carson/index.html" style="background-image: url('../wp-content/uploads/2015/11/doctor_m_2.jpg')" data-colorset="skincolored_section" class="linkify figure stretchy_wrapper ratio_1-1"></a>
                                                           <div class="content boxed  with_button ">
                                                              <div class="hgroup">
                                                                 <h4>Elias Carson</h4>
                                                                 <p>Urologist</p>
                                                              </div>
                                                              <div class="team_social">
                                                                 <a href="#"><i class="fa fa fa-facebook"></i></a>
                                                                 <a href="#"><i class="fa fa fa-linkedin"></i></a>
                                                                 <a href="#"><i class="fa fa fa-instagram"></i></a>
                                                              </div>
                                                              <div class="desc">
                                                                 <p></p>
                                                              </div>
                                                              <div class="link">
                                                                 <a href="../blog/profile/elias-carson/index.html" data-colorset="skincolored_section" class="linkify btn btn-xs btn-default">More</a>
                                                              </div>
                                                           </div>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="vc_tta-panel" id="1448268507802-ddaf51d1-8acb" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                         <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1448268507802-ddaf51d1-8acb" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Cosmetic Surgery</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                         <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-8">
                                               <div class="wpb_wrapper">
                                                  <div class="wpb_text_column wpb_content_element " >
                                                     <div class="wpb_wrapper">
                                                        <h5><strong>Mamography</strong></h5>
                                                        <p>Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.</p>
                                                        <h5><strong>Reproductive Endocrinology</strong></h5>
                                                        <p>Care and treatment for couples having difficulties conceiving a child. Conventional therapies such as medication and surgery can help your dreams of parenthood come true. Our partnership with Mayo Clinic allows us to provide referrals when advanced reproductive techniques are required.</p>
                                                        <h5><strong>Integrative Medicine</strong></h5>
                                                        <p>Alternative therapies stemming from the premise the mind, body and spirit function as one and addressing all promotes healing.</p>
                                                        <h5><strong>Chemical Dependency Treatment</strong></h5>
                                                        <p>Care for people with alcohol and other drug addictions. All treatment plans are individualized, ensuring that each person&#8217;s unique needs are met to promote healing and recovery. Dignity and respect are foundational values that guide our work.</p>
                                                        <h5><strong>Physical Therapy</strong></h5>
                                                        <p>Therapeutic care to restore movement and function to people disabled by disease or injury. Care may include exercise, training in activities of daily living and education. Our team works in collaboration with other specialties to offer comprehensive care and quickly restore you to your optimal health.</p>
                                                     </div>
                                                  </div>
                                                  <div class="vc_empty_space"   style="height: 16px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-4">
                                               <div class="wpb_wrapper">
                                                  <!-- ========================== TEASER BOX ==========================-->
                                                  <div class="teaser_box wpb_content_element text-center  skincolored_section boxed   with_button   ">
                                                     <div class="figure ">
                                                        <a href="../departments/cosmetic-surgery/index.html" title="" target=""> 
                                                        <i class="wmi icon-i-waiting-area"></i>
                                                        </a>
                                                     </div>
                                                     <div class="content text-center   with_button ">
                                                        <div class="hgroup">
                                                           <h4 class="neutralize_links">
                                                              Cosmetic Surgery
                                                           </h4>
                                                           <p>(+555) 959-595-959</p>
                                                        </div>
                                                        <div class="link centered">
                                                           <a href="../departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-secondary"><strong>Visit Department</strong></a>
                                                        </div>
                                                     </div>
                                                  </div>
                                                  <!-- END======================= TEASER BOX ==========================-->
                                                  <div class="team_members_grid row">
                                                     <div class="col-sm-12 col-md-12">
                                                        <div class="team_member teaser_box centered same_height_col skincolored_section">
                                                           <a href="../blog/profile/jonathan-steves/index.html" style="background-image: url('../wp-content/uploads/2015/11/doctor_m_1.jpg')" data-colorset="skincolored_section" class="linkify figure stretchy_wrapper ratio_1-1"></a>
                                                           <div class="content boxed  with_button ">
                                                              <div class="hgroup">
                                                                 <h4>Jonathan Steves</h4>
                                                                 <p>Gynaecologist</p>
                                                              </div>
                                                              <div class="team_social">
                                                                 <a href="#"><i class="fa fa fa-google-plus"></i></a>
                                                                 <a href="#"><i class="fa fa fa-linkedin"></i></a>
                                                                 <a href="#"><i class="fa fa fa-envelope"></i></a>
                                                              </div>
                                                              <div class="desc">
                                                                 <p></p>
                                                              </div>
                                                              <div class="link">
                                                                 <a href="../blog/profile/jonathan-steves/index.html" data-colorset="skincolored_section" class="linkify btn btn-xs btn-default">More</a>
                                                              </div>
                                                           </div>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="vc_tta-panel" id="1448268511116-8714a91a-ea55" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                         <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1448268511116-8714a91a-ea55" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Microbiology Lab</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                         <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-8">
                                               <div class="wpb_wrapper">
                                                  <div class="wpb_text_column wpb_content_element " >
                                                     <div class="wpb_wrapper">
                                                        <h5><strong>Mamography</strong></h5>
                                                        <p>Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.</p>
                                                        <h5><strong>Reproductive Endocrinology</strong></h5>
                                                        <p>Care and treatment for couples having difficulties conceiving a child. Conventional therapies such as medication and surgery can help your dreams of parenthood come true. Our partnership with Mayo Clinic allows us to provide referrals when advanced reproductive techniques are required.</p>
                                                        <h5><strong>Integrative Medicine</strong></h5>
                                                        <p>Alternative therapies stemming from the premise the mind, body and spirit function as one and addressing all promotes healing.</p>
                                                        <h5><strong>Chemical Dependency Treatment</strong></h5>
                                                        <p>Care for people with alcohol and other drug addictions. All treatment plans are individualized, ensuring that each person&#8217;s unique needs are met to promote healing and recovery. Dignity and respect are foundational values that guide our work.</p>
                                                        <h5><strong>Physical Therapy</strong></h5>
                                                        <p>Therapeutic care to restore movement and function to people disabled by disease or injury. Care may include exercise, training in activities of daily living and education. Our team works in collaboration with other specialties to offer comprehensive care and quickly restore you to your optimal health.</p>
                                                     </div>
                                                  </div>
                                                  <div class="vc_empty_space"   style="height: 16px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-4">
                                               <div class="wpb_wrapper">
                                                  <!-- ========================== TEASER BOX ==========================-->
                                                  <div class="teaser_box wpb_content_element text-center  skincolored_section boxed   with_button   ">
                                                     <div class="figure ">
                                                        <a href="../departments/cosmetic-surgery/index.html" title="" target=""> 
                                                        <i class="wmi icon-i-laboratory"></i>
                                                        </a>
                                                     </div>
                                                     <div class="content text-center   with_button ">
                                                        <div class="hgroup">
                                                           <h4 class="neutralize_links">
                                                              Microbiology Lab
                                                           </h4>
                                                           <p>(+555) 959-595-959</p>
                                                        </div>
                                                        <div class="link centered">
                                                           <a href="../departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-secondary"><strong>Visit Department</strong></a>
                                                        </div>
                                                     </div>
                                                  </div>
                                                  <!-- END======================= TEASER BOX ==========================-->
                                                  <div class="team_members_grid row">
                                                     <div class="col-sm-12 col-md-12">
                                                        <div class="team_member teaser_box centered same_height_col skincolored_section">
                                                           <a href="../blog/profile/emilia-stansfield/index.html" style="background-image: url('../wp-content/uploads/2015/11/doctor_f_1.jpg')" data-colorset="skincolored_section" class="linkify figure stretchy_wrapper ratio_1-1"></a>
                                                           <div class="content boxed  with_button ">
                                                              <div class="hgroup">
                                                                 <h4>Emilia Stansfield</h4>
                                                                 <p>Oncologist</p>
                                                              </div>
                                                              <div class="team_social">
                                                                 <a href="#"><i class="fa fa fa-facebook"></i></a>
                                                                 <a href="#"><i class="fa fa fa-google-plus"></i></a>
                                                                 <a href="#"><i class="fa fa fa-linkedin"></i></a>
                                                              </div>
                                                              <div class="desc">
                                                                 <p></p>
                                                              </div>
                                                              <div class="link">
                                                                 <a href="../blog/profile/emilia-stansfield/index.html" data-colorset="skincolored_section" class="linkify btn btn-xs btn-default">More</a>
                                                              </div>
                                                           </div>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="vc_tta-panel" id="1448268512473-e695d66f-bd21" data-vc-content=".vc_tta-panel-body">
                                      <div class="vc_tta-panel-heading">
                                         <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1448268512473-e695d66f-bd21" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Gynaecology &amp; Birth</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                      </div>
                                      <div class="vc_tta-panel-body">
                                         <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-8">
                                               <div class="wpb_wrapper">
                                                  <div class="wpb_text_column wpb_content_element " >
                                                     <div class="wpb_wrapper">
                                                        <h5><strong>Mamography</strong></h5>
                                                        <p>Specialized X-rays of the breast to aid in the early detection of breast cancer. A yearly mammogram is recommended for women age 40 and older.</p>
                                                        <h5><strong>Reproductive Endocrinology</strong></h5>
                                                        <p>Care and treatment for couples having difficulties conceiving a child. Conventional therapies such as medication and surgery can help your dreams of parenthood come true. Our partnership with Mayo Clinic allows us to provide referrals when advanced reproductive techniques are required.</p>
                                                        <h5><strong>Integrative Medicine</strong></h5>
                                                        <p>Alternative therapies stemming from the premise the mind, body and spirit function as one and addressing all promotes healing.</p>
                                                        <h5><strong>Chemical Dependency Treatment</strong></h5>
                                                        <p>Care for people with alcohol and other drug addictions. All treatment plans are individualized, ensuring that each person&#8217;s unique needs are met to promote healing and recovery. Dignity and respect are foundational values that guide our work.</p>
                                                        <h5><strong>Physical Therapy</strong></h5>
                                                        <p>Therapeutic care to restore movement and function to people disabled by disease or injury. Care may include exercise, training in activities of daily living and education. Our team works in collaboration with other specialties to offer comprehensive care and quickly restore you to your optimal health.</p>
                                                     </div>
                                                  </div>
                                                  <div class="vc_empty_space"   style="height: 16px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-4">
                                               <div class="wpb_wrapper">
                                                  <!-- ========================== TEASER BOX ==========================-->
                                                  <div class="teaser_box wpb_content_element text-center  skincolored_section boxed   with_button   ">
                                                     <div class="figure ">
                                                        <a href="../departments/cosmetic-surgery/index.html" title="" target=""> 
                                                        <i class="wmi icon-i-womens-health"></i>
                                                        </a>
                                                     </div>
                                                     <div class="content text-center   with_button ">
                                                        <div class="hgroup">
                                                           <h4 class="neutralize_links">
                                                              Gynaecology Department
                                                           </h4>
                                                           <p>(+555) 959-595-959</p>
                                                        </div>
                                                        <div class="link centered">
                                                           <a href="../departments/cosmetic-surgery/index.html"  target="" class="btn btn-xs btn-secondary"><strong>Visit Department</strong></a>
                                                        </div>
                                                     </div>
                                                  </div>
                                                  <!-- END======================= TEASER BOX ==========================-->
                                                  <div class="team_members_grid row">
                                                     <div class="col-sm-12 col-md-12">
                                                        <div class="team_member teaser_box centered same_height_col skincolored_section">
                                                           <a href="../blog/profile/john-cayre/index.html" style="background-image: url('../wp-content/uploads/2015/09/doctor-005.jpg')" data-colorset="skincolored_section" class="linkify figure stretchy_wrapper ratio_1-1"></a>
                                                           <div class="content boxed  with_button ">
                                                              <div class="hgroup">
                                                                 <h4>John Cayre</h4>
                                                                 <p>Pediatrician</p>
                                                              </div>
                                                              <div class="team_social">
                                                                 <a href="http://twitter/johncayre"><i class="fa fa fa-twitter"></i></a>
                                                                 <a href="http://facebook.com/johncayre"><i class="fa fa fa-facebook"></i></a>
                                                                 <a href="http://googleplus.com/johncayre"><i class="fa fa fa-google-plus"></i></a>
                                                                 <a href="http://linkedin.com/johncayre"><i class="fa fa fa-linkedin"></i></a>
                                                              </div>
                                                              <div class="desc">
                                                                 <p></p>
                                                              </div>
                                                              <div class="link">
                                                                 <a href="../blog/profile/john-cayre/index.html" data-colorset="skincolored_section" class="linkify btn btn-xs btn-default">More</a>
                                                              </div>
                                                           </div>
                                                        </div>
                                                     </div>
                                                  </div>
                                               </div>
                                            </div>
                                            <div class="wpb_column vc_column_container col-sm-12">
                                               <div class="wpb_wrapper">
                                                  <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="vc_empty_space"   style="height: 32px" ><span class="vc_empty_space_inner"></span></div>
                       <div class="section_header subtitle_bottom   fancy text-left">
                          <h3>Featured Services</h3>
                          <p>These are our special exams</p>
                       </div>
                    </div>
                 </div>
                 <div class="wpb_column vc_column_container col-sm-6 col-md-3">
                    <div class="wpb_wrapper">
                       <!-- ========================== TEASER BOX ==========================-->
                       <div class="teaser_box wpb_content_element text-center  transparent boxed_special   with_button   ">
                          <div class="figure transparent">
                             <img src="../wp-content/uploads/2015/09/strive-test.png" alt="Free Checkup">   
                          </div>
                          <div class="content text-center   with_button ">
                             <div class="hgroup">
                                <h4 class="neutralize_links">
                                   Free Checkup
                                </h4>
                                <p>The basis of Wellness</p>
                             </div>
                             <div class="link centered">
                                <a href="#"  target="" class="btn btn-xs btn-primary"><strong>More</strong></a>
                             </div>
                          </div>
                       </div>
                       <!-- END======================= TEASER BOX ==========================-->
                    </div>
                 </div>
                 <div class="wpb_column vc_column_container col-sm-6 col-md-3">
                    <div class="wpb_wrapper">
                       <!-- ========================== TEASER BOX ==========================-->
                       <div class="teaser_box wpb_content_element text-center  transparent boxed_special   with_button   ">
                          <div class="figure transparent">
                             <img src="../wp-content/uploads/2015/09/strive-dna.png" alt="DNA Testing">   
                          </div>
                          <div class="content text-center   with_button ">
                             <div class="hgroup">
                                <h4 class="neutralize_links">
                                   DNA Testing
                                </h4>
                                <p>Accurate Results</p>
                             </div>
                             <div class="link centered">
                                <a href="#"  target="" class="btn btn-xs btn-primary"><strong>More</strong></a>
                             </div>
                          </div>
                       </div>
                       <!-- END======================= TEASER BOX ==========================-->
                    </div>
                 </div>
                 <div class="wpb_column vc_column_container col-sm-6 col-md-3">
                    <div class="wpb_wrapper">
                       <!-- ========================== TEASER BOX ==========================-->
                       <div class="teaser_box wpb_content_element text-center  transparent boxed_special   with_button   ">
                          <div class="figure transparent">
                             <img src="../wp-content/uploads/2015/09/strive-cardiology.png" alt="Cardio Exam">   
                          </div>
                          <div class="content text-center   with_button ">
                             <div class="hgroup">
                                <h4 class="neutralize_links">
                                   Cardio Exam
                                </h4>
                                <p>With High-End Equipment</p>
                             </div>
                             <div class="link centered">
                                <a href="#"  target="" class="btn btn-xs btn-primary"><strong>More</strong></a>
                             </div>
                          </div>
                       </div>
                       <!-- END======================= TEASER BOX ==========================-->
                    </div>
                 </div>
                 <div class="wpb_column vc_column_container col-sm-6 col-md-3">
                    <div class="wpb_wrapper">
                       <!-- ========================== TEASER BOX ==========================-->
                       <div class="teaser_box wpb_content_element text-center  transparent boxed_special   with_button   ">
                          <div class="figure transparent">
                             <img src="../wp-content/uploads/2015/09/strive-dna.png" alt="DNA Testing">   
                          </div>
                          <div class="content text-center   with_button ">
                             <div class="hgroup">
                                <h4 class="neutralize_links">
                                   DNA Testing
                                </h4>
                                <p>Accurate Results</p>
                             </div>
                             <div class="link centered">
                                <a href="#"  target="" class="btn btn-xs btn-primary"><strong>More</strong></a>
                             </div>
                          </div>
                       </div>
                       <!-- END======================= TEASER BOX ==========================-->
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <section class="vc_row wpb_row vc_row-fluid light_section separator_top sep_angled_positive_top separator_bottom sep_angled_positive_bottom">
           <div class="container">
              <div class="row">
                 <div class="wpb_column vc_column_container col-sm-12">
                    <div class="wpb_wrapper">
                       <div class="section_header subtitle_bottom   fancy text-left">
                          <h2>We specialize in Rhinoplasty</h2>
                          <p>Go ahead and use the cool Image Compare shortcode</p>
                       </div>
                    </div>
                 </div>
                 <div class="wpb_column vc_column_container col-sm-12 col-md-6">
                    <div class="wpb_wrapper">
                       <div class="wpb_text_column wpb_content_element " >
                          <div class="wpb_wrapper">
                             <p>Come and meet one of our four world renowned facial plastic and reconstructive surgeons, that can guide you through the process that will change your life.</p>
                             <p>Reshape the appearance of body parts through cosmetic surgery. Our surgeons are specialized in reconstructing face, neck, ears, nose, eyes, breasts. We can also guide you through some our patients&#8217; photos and their life changing stories.</p>
                          </div>
                       </div>
                       <div class="vc_separator wpb_content_element vc_separator_align_left vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text" >
                          <span class="vc_sep_holder vc_sep_holder_l"><span  class="vc_sep_line"></span></span>
                          <h4>Integrative Medicine</h4>
                          <span class="vc_sep_holder vc_sep_holder_r"><span  class="vc_sep_line"></span></span>
                       </div>
                       <div class="wpb_text_column wpb_content_element " >
                          <div class="wpb_wrapper">
                             <p>Alternative therapies stemming from the premise the mind, body and spirit function as one and addressing all promotes healing.</p>
                          </div>
                       </div>
                       <div class="plethora_button wpb_content_element   text-left ">
                          <a href="#" class=" btn btn-primary  " title=""  target="_self">
                          Request an evaluation Meeting
                          </a>
                       </div>
                    </div>
                 </div>
                 <div class="wpb_column vc_column_container col-sm-12 col-md-6">
                    <div class="wpb_wrapper">
                       <div  class="twentytwenty-container  " data-default_offset_pct="0.6" data-orientation="horizontal">
                          <img src="../wp-content/uploads/2015/09/before.jpg">
                          <img src="../wp-content/uploads/2015/09/after.jpg">
                       </div>
                       <div class="wpb_text_column wpb_content_element  vc_custom_1448270905686" >
                          <div class="wpb_wrapper">
                             <p><small>Use the slider to compare the before and after photos</small></p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <section style="background-image: url('../wp-content/uploads/2015/09/help_desk.jpg')" class="vc_row wpb_row vc_row-fluid secondary_section transparent_film bgimage bg_vcenter">
           <div class="container">
              <div class="row">
                 <div class="wpb_column vc_column_container col-sm-12">
                    <div class="wpb_wrapper">
                       <div class="section_header subtitle_bottom   fancy text-center">
                          <h2>Want to schedule an appointment?</h2>
                          <p>Call us at <b> (+555) 959-595-959</b> or fill in the appointment form...</p>
                       </div>
                       <div class="plethora_button wpb_content_element   text-center ">
                          <a href="../appointment-booking/index.html" class=" btn btn-success with-icon " title=""  target="_self">
                          Appointment Form
                          <i class="wmi icon-i-registration"></i> 
                          </a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <div id="new_comment">
           <div class="container">
              <div class="new_comment">
              </div>
           </div>
        </div>
     </div>