title = "galeri post"
url = "/galeri/post/:slug"
layout = "static_layout"
is_hidden = 0
child_of = "galeri/post"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[gallerySlug]
slug = "{{:slug}}"
lang = "Gallery"
jqueryinject = "yes"
thumbnail = "true"
caption = "true"
desc = "true"
counter = "true"
controls = "true"
preload = 1
mode = "lg-slide"
speed = 600
loop = "true"
auto = "false"
pause = 2000
escKey = "true"
height = 70
width = 100
resizer = "auto"
==
<div class="main foo" data-colorset="foo">
<section class="vc_row wpb_row vc_row-fluid text-center separator_bottom sep_angled_positive_bottom rsimc">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <section class="vc_row wpb_row vc_row-fluid">
               <div class="container">
                  <div class="row">
                    <div class="wpb_column vc_column_container col-sm-12">

                    </div>
                  </div>
               </div>
            </section>
            {% component 'gallerySlug' %}
            
        </div>
    </div>
</section>