title = "Blog Post"
url = "/blog/post/:slug"
layout = "static_layout"
description = "Viewing single post"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"

[searchForm]
resultPage = "blog/search"
categoryFilter = 0
==
<div class="brand-colors"> </div>
<div class="main foo" data-colorset="foo">
<section class="sidebar_on padding_top_half rsimc" >
<div class="container" style="padding-bottom: 40px;">
   <div class="row">

      
      <div id="sidebar" class="col-sm-3 col-md-3">
        <aside id="search-2" class="widget widget_search">
               {% component 'searchForm' %}
        </aside>
         <!-- ===================== MULTIBOX ========================-->
         <aside id="categories-3" class="widget widget_categories">
            <h4>Categories</h4>
            {% component 'blogCategories' %}
         </aside>
      </div>
      <div class="col-sm-9 col-md-9 main_col ">
        <div class="post-grid classic" style="background-color: #FFFFFF;">
                <div class="row">
                        
                        {% component 'blogPost' %}             
                </div>
        </div>
        </div>
   </div>
</div>